<div style="color: blue;">
{{#if audio.currentAudio.isPlaying}}
  <strong>is playing</strong>
{{else}}
  <strong>not playing</strong>
{{/if}}

{{audio.currentAudio.position}}
</div>
<div style="font-size: 24px;">
  volume: {{audio.currentAudio.volume}}
  <button {{action 'increaseVolume'}}>+</button>
  <button {{action 'decreaseVolume'}}>-</button>
</div>
