<div style="color: blue;">
{{#if audio.currentAudio.isPlaying}}
  <strong>Playing:</strong>
  {{link-to parentTitle 'django-rendered' parentUrl}} - {{link-to storyTitle 'story' storySlug}}
{{else}}
  <strong>not playing</strong>
{{/if}}

<div>{{audio.currentAudio.normalizedPosition}}/{{audio.currentAudio.normalizedDuration}}</div>
</div>
<div style="font-size: 24px;">
  volume: {{audio.currentAudio.volume}}
  <button {{action 'increaseVolume'}}>+</button>
  <button {{action 'decreaseVolume'}}>-</button>
</div>
