<div class="list" data-test-selector="comment-list">
{{#each comments as |comment|}}
    <article class="list-item{{if comment.isStaffComment ' list-item--highlight'}}" data-id="{{comment.id}}">
        <h1 class="text--semi">
        {{#if comment.staffNameOverride}}
            {{comment.staffNameOverride}}
        {{else if comment.location}}
            {{comment.author}} from {{comment.location}}
        {{else}}
            {{comment.author}}
        {{/if}}
      </h1>

        <div class="text text--prewrap">{{{comment.comment}}}</div>

        <div class="l-split flush">
            <div class="text--small dimmed">{{moment-format comment.publishDate 'MMM D, YYYY, h:mm A'}}</div>

            {{#if user.is_staff}}
                {{comments-admin id=comment.id browserId=browserId}}
            {{/if}}

        </div>
        <!-- .l-split -->
    </article>
{{/each}}
</div>
<!-- .list -->
