<ul>
  {{#each largeStoryRow1 as |story index|}}
  <li class="{{story.attributes.template}} story--trending"
      style="background-image: url({{story.attributes.imageMain.url}})">
    <div class="story__icons">
      <div class="story__icons__trending icon--with-text icon--with-text--top">
        {{nypr-svg className="icon" icon="trending"}} Trending
      </div>
      <div class="story__icons__video">
        {{nypr-svg className="icon" icon="video"}}
      </div>
    </div>
      <div class="story__head">
        <a class="story__head__brand" href="{{story.attributes.headers.brand.url}}">
          {{story.attributes.headers.brand.title}}
        </a>
        <h2 class="story__head__headline"><a href="{{story.attributes.url}}">
          {{story.attributes.title}}
        </a></h2>
      </div>
  </li>
  {{/each}}
  <li class="home__stories--col">
    <ul>
      {{#each colStoriesRow1 as |story index|}}
      <li class="{{story.attributes.template}} story--trending"
          style="background-image: url({{story.attributes.imageMain.url}})">
        <div class="story__icons">
          <div class="story__icons__trending icon--with-text icon--with-text--top">
            {{nypr-svg className="icon" icon="trending"}} Trending
          </div>
          <div class="story__icons__video">
            {{nypr-svg className="icon" icon="video"}}
          </div>
        </div>
        <div class="story__head">
          <a class="story__head__brand" href="{{story.attributes.headers.brand.url}}">
            {{story.attributes.headers.brand.title}}
          </a>
          <h2 class="story__head__headline"><a href="{{story.attributes.url}}">
            {{story.attributes.title}}
          </a></h2>
        </div>
      </li>
      {{/each}}
    </ul>
  </li>
  <li class="home__stories--col">
    <ul>
      {{#each colStoriesRow2 as |story index|}}
      <li class="{{story.attributes.template}} story--trending"
          style="background-image: url({{story.attributes.imageMain.url}})">
        <div class="story__icons">
          <div class="story__icons__trending icon--with-text icon--with-text--top">
            {{nypr-svg className="icon" icon="trending"}} Trending
          </div>
          <div class="story__icons__video">
            {{nypr-svg className="icon" icon="video"}}
          </div>
        </div>
        <div class="story__head">
          <a class="story__head__brand" href="{{story.attributes.headers.brand.url}}">
            {{story.attributes.headers.brand.title}}
          </a>
          <h2 class="story__head__headline"><a href="{{story.attributes.url}}">
            {{story.attributes.title}}
          </a></h2>
        </div>
      </li>
      {{/each}}
    </ul>
  </li>
  {{#each largeStoryRow2 as |story index|}}
  <li class="{{story.attributes.template}} story--trending"
      style="background-image: url({{story.attributes.imageMain.url}})">
    <div class="story__icons">
      <div class="story__icons__trending icon--with-text icon--with-text--top">
        {{nypr-svg className="icon" icon="trending"}} Trending
      </div>
      <div class="story__icons__video">
        {{nypr-svg className="icon" icon="video"}}
      </div>
    </div>
      <div class="story__head">
        <a class="story__head__brand" href="{{story.attributes.headers.brand.url}}">
          {{story.attributes.headers.brand.title}}
        </a>
        <h2 class="story__head__headline"><a href="{{story.attributes.url}}">
          {{story.attributes.title}}
        </a></h2>
      </div>
  </li>
  {{/each}}

  <li class="home__stories--row">
    <ul>
      {{#each cardsRow1 as |story index|}}
        <li class="{{story.attributes.template}} story--trending">
          <div class="story__icons">
            <div class="story__icons__trending icon--with-text icon--with-text--top">
              {{nypr-svg className="icon" icon="trending"}} Trending
            </div>
            <div class="story__icons__video">
              {{nypr-svg className="icon" icon="video"}}
            </div>
          </div>
          <div class="story__img"
               style="background-image: url({{story.attributes.imageMain.url}})">
          </div>
          <div class="story__head">
            <a class="story__head__brand" href="{{story.attributes.headers.brand.url}}">
              {{story.attributes.headers.brand.title}}
            </a>
            <h2 class="story__head__headline"><a href="{{story.attributes.url}}">
              {{story.attributes.title}}
            </a></h2>
          </div>
        </li>
      {{/each}}
      <li class="home__stories--row__ad">
        I am an advertisement
      </li>
    </ul>
  </li>

  {{#each largeStoryRow3 as |story index|}}
  <li class="{{story.attributes.template}} story--trending"
      style="background-image: url({{story.attributes.imageMain.url}})">
    <div class="story__icons">
      <div class="story__icons__trending icon--with-text icon--with-text--top">
        {{nypr-svg className="icon" icon="trending"}} Trending
      </div>
      <div class="story__icons__video">
        {{nypr-svg className="icon" icon="video"}}
      </div>
    </div>
      <div class="story__head">
        <a class="story__head__brand" href="{{story.attributes.headers.brand.url}}">
          {{story.attributes.headers.brand.title}}
        </a>
        <h2 class="story__head__headline"><a href="{{story.attributes.url}}">
          {{story.attributes.title}}
        </a></h2>
      </div>
  </li>
  {{/each}}
  <li class="home__stories--col">
    <ul>
      {{#each colStoriesRow3 as |story index|}}
      <li class="{{story.attributes.template}} story--trending"
          style="background-image: url({{story.attributes.imageMain.url}})">
        <div class="story__icons">
          <div class="story__icons__trending icon--with-text icon--with-text--top">
            {{nypr-svg className="icon" icon="trending"}} Trending
          </div>
          <div class="story__icons__video">
            {{nypr-svg className="icon" icon="video"}}
          </div>
        </div>
        <div class="story__head">
          <a class="story__head__brand" href="{{story.attributes.headers.brand.url}}">
            {{story.attributes.headers.brand.title}}
          </a>
          <h2 class="story__head__headline"><a href="{{story.attributes.url}}">
            {{story.attributes.title}}
          </a></h2>
        </div>
      </li>
      {{/each}}
    </ul>
  </li>
  <li class="home__stories--col">
    <ul>
      {{#each colStoriesRow4 as |story index|}}
      <li class="{{story.attributes.template}} story--trending"
          style="background-image: url({{story.attributes.imageMain.url}})">
        <div class="story__icons">
          <div class="story__icons__trending icon--with-text icon--with-text--top">
            {{nypr-svg className="icon" icon="trending"}} Trending
          </div>
          <div class="story__icons__video">
            {{nypr-svg className="icon" icon="video"}}
          </div>
        </div>
        <div class="story__head">
          <a class="story__head__brand" href="{{story.attributes.headers.brand.url}}">
            {{story.attributes.headers.brand.title}}
          </a>
          <h2 class="story__head__headline"><a href="{{story.attributes.url}}">
            {{story.attributes.title}}
          </a></h2>
        </div>
      </li>
      {{/each}}
    </ul>
  </li>
  {{#each largeStoryRow4 as |story index|}}
  <li class="{{story.attributes.template}} story--trending"
      style="background-image: url({{story.attributes.imageMain.url}})">
    <div class="story__icons">
      <div class="story__icons__trending icon--with-text icon--with-text--top">
        {{nypr-svg className="icon" icon="trending"}} Trending
      </div>
      <div class="story__icons__video">
        {{nypr-svg className="icon" icon="video"}}
      </div>
    </div>
      <div class="story__head">
        <a class="story__head__brand" href="{{story.attributes.headers.brand.url}}">
          {{story.attributes.headers.brand.title}}
        </a>
        <h2 class="story__head__headline"><a href="{{story.attributes.url}}">
          {{story.attributes.title}}
        </a></h2>
      </div>
  </li>
  {{/each}}

  <li class="home__stories--row">
    <ul>
      {{#each cardsRow2 as |story index|}}
        <li class="{{story.attributes.template}} story--trending">
          <div class="story__icons">
            <div class="story__icons__trending icon--with-text icon--with-text--top">
              {{nypr-svg className="icon" icon="trending"}} Trending
            </div>
            <div class="story__icons__video">
              {{nypr-svg className="icon" icon="video"}}
            </div>
          </div>
          <div class="story__img"
               style="background-image: url({{story.attributes.imageMain.url}})">
          </div>
          <div class="story__head">
            <a class="story__head__brand" href="{{story.attributes.headers.brand.url}}">
              {{story.attributes.headers.brand.title}}
            </a>
            <h2 class="story__head__headline"><a href="{{story.attributes.url}}">
              {{story.attributes.title}}
            </a></h2>
          </div>
        </li>
      {{/each}}
      <li class="home__stories--row__ad">
        I am an advertisement
      </li>
    </ul>
  </li>

</ul>
