<div class='user-setting user-stream'>
  <label for='active-stream'>
    <div>Default live stream</div>
    <div class='setting-desc'>
      Set your favorite live stream station. Play at any time just by clicking “Listen Live” in the menu.
    </div>
  </label>

  {{#power-select
    selected=activeStream
    options=streams
    renderInPlace=true
    searchEnabled=false
    dropdownClass='stream-dropdown'
    loadingMessage='Retrieving Stream List...'
    selectedItemComponent='user-settings/placeholder'
    onchange=(action 'selectStream') as |stream|}}
    <span
      class="gtm__click-tracking"
      data-action="Settings"
      data-label="Change Default Stream to {{stream.name}}">
      {{stream.name}}
    </span>
  {{/power-select}}
</div>

<div class='user-autoplay'>
  <div class='user-setting toggle-preference'>
    <label for='autoplay-pref'>
      <div>Continuous play</div>
      <div class='setting-desc'>
        When you finish listening to an episode or segment on-demand, we’ll play
        your favorite stream or your queue.
      </div>
    </label>


    <div class='setting-opts autoplay'>
      {{#liquid-bind enableAutoplay use='slideToggle' class='toggle-container' as |disableAutoplay|}}
        <div
          class="toggle autoplay-toggle gtm__click-tracking {{if disableAutoplay 'inactive-toggle'}}"
          data-action="Settings"
          data-label={{if disableAutoplay "Turn On Continuous Play" "Turn Off Continuous Play"}}
          {{action 'toggleAutoplay' enableAutoplay}}>
          <span class='switch'></span>
          <span class='label'>{{if disableAutoplay "OFF" "ON"}}</span>
        </div>
      {{/liquid-bind}}
    </div>
  </div>
  <div class='autoplay-options {{if enableAutoplay "autoplay-inactive" "autoplay-active"}}'>
    <label for='autoplay-option'>
      What to play next:
    </label>

    {{#power-select
      selected=activePref
      options=autoPlayPrefs
      renderInPlace=true
      searchEnabled=false
      dropdownClass='autoplay-dropdown'
      disabled=enableAutoplay
      selectedItemComponent='user-settings/placeholder'
      onchange=(action 'selectAutoPlayPref') as |pref|}}
      <span
        class="gtm__click-tracking"
        data-action="Settings"
        data-label="Change Continuous Play to {{pref.name}}">
        {{pref.name}}
      </span>
    {{/power-select}}
  </div>
</div>
