<div class='user-setting user-stream'>
  <label for='active-stream'>
    <div>Default live stream</div>
    <div class='setting-desc'>
      Pick your favorite live stream station.
    </div>
  </label>

  {{#power-select
    selected=activeStream
    options=streams
    renderInPlace=true
    searchEnabled=false
    classNames='setting-opts'
    loadingMessage='Retrieving Stream List...'
    onchange=(action 'selectStream') as |stream|}}
    {{stream.name}}
  {{/power-select}}
</div>

<div class='user-autoplay'>
  <div class='user-setting toggle-preference'>
    <label for='autoplay-pref'>
      <div>Autoplay</div>
      <div class='setting-desc'>
        When you finish listening to an episode or segment on-demand, we’ll autoplay
        your favorite stream or your queue.
      </div>
    </label>


    <div class='setting-opts autoplay'>
      {{#liquid-bind enableAutoplay use='slideToggle' class='toggle-container' as |disableAutoplay|}}
        <div class='toggle autoplay-toggle {{if disableAutoplay "inactive-toggle" ""}}' {{action 'toggleAutoplay' enableAutoplay}}>
          <span class='switch'></span>
          <span class='label'>{{if disableAutoplay "OFF" "ON"}}</span>
        </div>
      {{/liquid-bind}}
    </div>
  </div>
  <div class='autoplay-options {{if enableAutoplay "autoplay-inactive" "autoplay-active"}}'>
    <label for='autoplay-option'>
      Automatically begin playing:
    </label>

    {{#power-select
      selected=activePref
      options=autoPlayPrefs
      renderInPlace=true
      searchEnabled=false
      classNames='setting-opts'
      disabled=enableAutoplay
      onchange=(action 'selectAutoPlayPref') as |pref|}}
      {{pref.name}}
    {{/power-select}}
  </div>
</div>
