<button disabled={{disabled}} class="playlist-play-indicator-button">
  {{#if isPlaying}}
    <label class="visuallyhidden">Pause</label>
    {{wnyc-svg className="icon playlist-play-indicator-speaker" icon="speaker"}}
    {{wnyc-svg className="icon playlist-play-indicator-pause" icon="pause-hollow"}}
  {{else}}
    <label class="visuallyhidden">Play</label>
    {{wnyc-svg className="icon playlist-play-indicator-play" icon="play-hollow"}}
  {{/if}}
</button>
