<div> {{!flex box doesn't work so great on buttons}}
  {{#if hasIcon}}
    {{#if placeRight}}
      <span class='action-button-text'>
        {{#if hasBlock}}
          {{yield}}
        {{else}}
          {{text}}
        {{/if}}
      </span>
      <div class='action-button-icon'>{{wnyc-svg icon=icon}}</div>
    {{else}}
      <div class='action-button-icon'>{{wnyc-svg icon=icon}}</div>
      <span class='action-button-text'>
        {{#if hasBlock}}
          {{yield}}
        {{else}}
          {{text}}
        {{/if}}
      </span>
    {{/if}}
  {{else}}
    <span class='action-button-text'>
      {{#if hasBlock}}
        {{yield}}
      {{else}}
        {{text}}
      {{/if}}
    </span>
  {{/if}}
</div>
