<div class='player-notification'>
  {{#if preSwitch}}
    <p class='notification-message'>
      Your episode is over. In {{remaining}} seconds,
      {{#if streamEnabled}}
        we'll tune you to {{preferredStream.name}}.
      {{else}}
        your audio queue will begin to play.
      {{/if}}
    </p>
  {{else}}
      <p class='notification-message'>
        We
        {{#if streamEnabled}}
          tuned you to {{preferredStream.name}}
        {{else}}
          began playing your audio queue
        {{/if}}
        after your episode ended.
      </p>
  {{/if}}

  <div class='notification-action'>
    <div class='notification-change-settings'>
      <a href="/settings"
          title="Change Settings"
          data-tracking-category="Persistent Player"
          data-tracking-action="Continuous Play Notification"
          data-tracking-label={{if preSwitch 'Click Through to Settings, Pre' 'Click Through to Settings, Post'}}
          class='notification-link'
          >
          Change Settings</a>
    </div>

    <div class='dismiss-notification close-icon' {{action 'dismiss'}}>
      {{wnyc-svg icon='close'}}
    </div>
  </div>
</div>
