<div class='player-notification'>
  {{#if (and didNotElapse (eq currentContext 'continuous-player-bumper'))}}
    <p class='notification-message'>
      Your episode is over. In {{remaining}} seconds,
      {{#if streamEnabled}}
        we'll tune you to {{preferredStream.name}}.
      {{else}}
        your audio queue will begin to play.
      {{/if}}
    </p>
  {{else}}
      <p class='notification-message'>
        We
        {{#if streamEnabled}}
          tuned you to {{preferredStream.name}}
        {{else}}
          began playing your audio queue
        {{/if}}
        after your episode ended.
      </p>
  {{/if}}

  <div class='notification-action'>
    <div class='dismiss-notification' {{action 'dismiss' true}}>
      {{link-to 'Change Settings' 'settings' classNames='notification-action'}}
    </div>

    <div class='dismiss-notification close-icon' {{action 'dismiss'}}>
      {{wnyc-svg icon='close'}}
    </div>
  </div>
</div>
