<div class='player-notification'>
  {{#if (and didNotElapse (eq currentContext 'continuous-player-bumper'))}}
    <p class='notification-message'>
      Your episode is over. In {{remaining}} seconds, we'll tune you to {{preferredStream.name}}.
    </p>
  {{else}}
    <p class='notification-message'>
      We tuned you to {{preferredStream.name}} after your episode ended.
    </p>
  {{/if}}

  <div class='dismiss-notification' {{action 'dismiss'}}>
    {{link-to 'Change Settings' 'settings' classNames='notification-action'}}
  </div>

  <div class='dismiss-notification close-icon' {{action 'dismiss'}}>
    {{wnyc-svg icon='close'}}
  </div>
</div>
