
<div class='player-notification'>
  {{#if didNotElapse}}
    <p class='notification-message'>
      Your episode is over. In {{secondsRemaining}} seconds, we'll tune you to {{preferredStream}}.
    </p>
    <span class='notification-action' {{action 'dismiss' true}}>
      Cancel
    </span> /
  {{else}}
    <p class='notification-message'>
      We tuned you to {{preferredStream}} after your episode ended.
    </p>
  {{/if}}

  <div class='dismiss-notification' {{action 'dismiss'}}>
    {{link-to 'Change Settings' 'settings' classNames='notification-action'}}
  </div>

  <div class='dismiss-notification close-icon' {{action 'dismiss'}}>
    {{wnyc-svg icon='close'}}
  </div>
</div>
