<span class="nypr-player-stream-info-station-info">
  LIVE NOW on <a href='{{streamScheduleUrl}}'
   target={{streamScheduleUrlTarget}}
   data-tracking-category='Persistent Player'
   data-tracking-action='Click Through to Schedule'
   data-tracking-label='{{streamName}}'>{{streamName}}</a>
</span>
<span class="nypr-player-stream-info-station-links">
  <a href='{{streamScheduleUrl}}'
     title='Schedule'
     target={{streamScheduleUrlTarget}}
     data-tracking-category='Persistent Player'
     data-tracking-action='Click Through to Schedule'
     data-tracking-label='{{streamName}}'>SCHEDULE</a>
  {{#if streamPlaylistUrl}}
  <a href='{{streamPlaylistUrl}}'
     target={{streamPlaylistUrlTarget}}
     title='Music Playlist'
     data-tracking-category='Persistent Player'
     data-tracking-action='Click Through to Music Playlist'
     data-tracking-label='{{streamName}}'>MUSIC PLAYLIST</a>
  {{/if}}
  {{#if streamsIndexUrl}}
  <a href='{{streamsIndexUrl}}' target={{streamsIndexUrlTarget}} title='All Live Streams'>
    ALL LIVE STREAMS
  </a>
  {{/if}}
</span>
