{{#if ready}}
  <a class='resend-link' {{action "resend" target email}}>{{yield}}</a>
{{else if success}}
  <span class='resend-success'>{{successMessage}}</span>
{{else if error}}
  <span class='resend-error'>{{errorMessage}}</span>
{{/if}}
