{{#if model.featured}}
  <div class="l-full flush--header nudge-large">
    <div class="l-highlight--geometric">
      <div class="l-constrained box box--luxe">
        <div class="text nudge-big">
          <h3 class="h5 aligncenter text--upper text--white text--spacing-sm">Featured Show</h3>
        </div>
        {{show-tease show=model.featured featuredSpot=true}}
        
      </div>
    </div>
  </div>
{{/if}}

  {{#google-ad ad="leaderboard" hasMarquee=model.hasMarquee class="l-constrained is-collapsed"}}
     <div id="leaderboard" class="aligncenter"></div>
  {{/google-ad}}

<div class="l-constrained l-constrained--mq-med">

  <section class="aligncenter nudge-large">
    <div class="l-skinnier--mq-med">
      <h1 class="h1 h1--extrabold h1--mq-small text--black nudge">All Shows</h1>
      <p class="text text--black text--airy-more">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lacus metus, iaculis vel pharetra nec, porttitor vel sapien. Integer lacinia ex nisl, at sodales sapien laoreet sed. Pellentesque ultricies leo at risus tristique, porttitor vehicula augue accumsan. Mauris at dui vitae orci mattis iaculis non eget justo. Nam accumsan neque id odio suscipit, non auctor dui viverra. In hac habitasse platea dictumst. Aliquam sollicitudin dolor eget ultrices iaculis. Nulla facilisi. Donec tempus tortor sed viverra imperdiet.</p>
    </div>
  </section>

  <section>
    {{search-box action="filterShows" class="gray-search"}}
  </section>

  <section class="shows-list">
    {{#if isSearching}}
      <div class="doubledown box box--luxe">
        <div class="loading-spinner text"></div>
      </div>
    {{else if noResults}}
      <div class="doubledown box box--luxe">
        <p class="text aligncenter">no results found</p>
      </div>
    {{else}}
      {{client-infinite-scroll shows=model.allShows}}
    {{/if}}
  </section>

</div>
