{{#if model.featured}}
<section class="featured-show">
  <div class="l-full flush--header nudge-large">
    <div class="l-highlight--geometric">
      <div class="l-constrained box box--luxe">
        <div class="text nudge-big">
          <h3 class="h5 aligncenter text--upper text--white text--spacing-sm">Featured Show</h3>
        </div>
        {{show-tease show=model.featured featuredSpot=true}}
        
      </div>
    </div>
  </div>
</section>
{{/if}}

  {{#google-ad ad="leaderboard" hasMarquee=model.hasMarquee class="l-constrained is-collapsed"}}
     <div id="leaderboard" class="aligncenter"></div>
  {{/google-ad}}

<div class="l-constrained l-constrained--mq-med">

  <section class="aligncenter nudge-large">
    <div class="l-skinnier--mq-med">
      <h1 class="h1 h1--extrabold h1--mq-small nudge">All Shows</h1>
      <p class="text text--airy-more">Your destination for all things public radio. WNYC produces content and presents content from NPR and across the public radio ecosystem.</p>
    </div>
  </section>

  <section>
    {{search-box action="filterShows" class="gray-search"}}
  </section>

  <section class="shows-list">
    {{#if isSearching}}
      <div class="doubledown box box--luxe">
        <div class="loading-spinner text"></div>
      </div>
    {{else if noResults}}
      <div class="doubledown box box--luxe">
        <p class="text aligncenter">no results found</p>
      </div>
    {{else}}
      {{client-infinite-scroll shows=model.allShows}}
    {{/if}}
  </section>

</div>
