<header class="discover-setup-header">
  <div class="discover-setup-header-action">
    <button class="rounded-caps-button" {{action 'back'}}>Back</button>
  </div>
  <div class="discover-setup-header-content">
    <span class="discover-setup-title-step-count">{{stepLabel}}</span>
    <h2 class="discover-setup-title-step-title h2 text--white">{{title}}</h2>
    <span class="discover-setup-title-error">&nbsp;
      {{errorText}}
    </span>
  </div>
  <div class="discover-setup-header-action">
    <button class="rounded-caps-button {{if nextButtonEnabled 'mod-filled-red'}}" {{action 'next'}}>{{nextButtonText}}</button>
  </div>
</header>
