<header class="discover-setup-header">
  <div class="discover-setup-header-action">
    {{#action-button click=(action 'back') icon="left-caret" iconPlacement="left"}}
      Back
    {{/action-button}}
    {{#if isLoadingBack}}
      {{animated-loading-icon
        width=34
        height=34
        outerScale=12
        innerScale=6
        radius=0.0025
        dotRadius=2
        lineWidth=2}}
    {{/if}}
  </div>
  <div class="discover-setup-header-content">
    <span class="discover-setup-title-step-count">{{stepLabel}}</span>
    <h2 class="discover-setup-title-step-title h2 text--white">{{title}}</h2>
    <span class="discover-setup-title-error">&nbsp;
      {{errorText}}
    </span>
  </div>
  <div class="discover-setup-header-action">
    {{#if isLoadingNext}}
      {{animated-loading-icon
        width=34
        height=34
        outerScale=12
        innerScale=6
        radius=0.0025
        dotRadius=2
        lineWidth=2}}
    {{/if}}
    {{#action-button class=(if nextButtonEnabled 'mod-filled-red') click=(action 'next')  icon=nextButtonIcon iconPlacement="right"}}
      {{nextButtonText}}
    {{/action-button}}
  </div>
</header>
