{{#sticky-page-header offset=-285}}
  <div class="discover-playlist-header-container">
    <div class="discover-playlist-header">
      {{yield (hash
        button=(component 'action-button' click=(action 'toggle'))
        isPlaying=isPlaying
        isPaused=isPaused
        isNotStarted=isNotStarted
      )}}
    </div>
  </div>
{{/sticky-page-header}}

<div class="discover-playlist-content-container">
{{discover-feedback-button}}
<div class="discover-refresh-bar-container">
  <button class="discover-refresh-bar" disabled={{findingMore}} {{action 'findMore'}}>
    {{! firefox does not allow buttons as flex items }}
    <span>
      {{#if findingMore}}
      {{! #128cf4 is $blue }}
      {{animated-loading-icon
        color='#128cf4'
        width=18
        height=18
        outerScale=8
        innerScale=4
        radius=0.025
        dotRadius=1
        lineWidth=2}}
      {{/if}}
      Refresh Playlist
    </span>
  </button>
</div>
{{#sortable-group class="discover-playlist" tagName="ul" onChange="reorderItems" handle=".discover-playlist-item-handle" as |group|}}
  {{#each stories as |story|}}
    {{#sortable-item class=(if (array-contains removedItemIds story.id) 'discover-playlist-item is-deleted' 'discover-playlist-item')
      tagName="li"
      group=group
      model=story
      handle=".discover-playlist-item-handle"
      onDragStart="dragStarted"
      onDragStop="dragStopped"
    }}

      <span class="discover-playlist-item-handle" data-story-id="{{story.id}}">
        {{wnyc-svg icon="reorder"}}
      </span>

      {{#discover-playlist-story isCurrentTrack=(eq story.id currentPlaylistStoryPk) isPlaying=(and isPlaying (eq story.id currentPlaylistStoryPk))}}
        {{playlist-play-indicator
            title=story.title
            itemPK=story.id
            class="discover-playlist-story-play-button"
            isReady=audioReady
            isPlaying=(and (eq story.id currentPlaylistStoryPk) isPlaying)
            onPause=(action 'pauseTrack' story.id)
            onPlay=(action 'playTrack' story.id)
          }}

        {{discover-playlist-story-info story=story}}
      {{/discover-playlist-story}}

      <span class="discover-playlist-item-delete" {{action 'removeItem' story}} data-story-id="{{story.id}}">
        {{wnyc-svg icon="close"}}
      </span>
    {{/sortable-item}}
  {{/each}}
{{/sortable-group}}
</div>
