<h1 class="for-screenreaders">Sub Nav</h1>
<ul class="list list--inline flush">
{{#each parsedLinks as |link|}}
  <li class="list-item list-item--mini">
    {{#if link.navSlug}}
      {{link-to link.title channelTypeWell link.navSlug classNames='link link--dark tab-link' bubbles=false}}
    {{else if link.path}}
      {{link-to link.title 'django-rendered' link.path classNames="link link--dark link--nodecor tab-link"}}
    {{else}}
      <a href={{link.href}} class="link link--dark link--nodecor tab-link">{{link.title}}</a>
    {{/if}}
  </li>
{{/each}}
<div class="tab-line tab-line--red" style={{linePosition}}></div>
</ul>
