{{#django-page page=model.page}}
  {{#unless model.channel.altLayout}}
    {{dfp-ad
      slotClassNames="is-collapsed l-constrained aligncenter"
      slot="/6483581/leaderboard/wnyc_leaderboard"
      target="leaderboard"
      mapping=(array (array 1203 (array 970 415)) (array 758 (array 728 90)) (array 0 (array 300 50)))
      sizes=(array (array 970 415) (array 728 90) (array 300 50))}}

  {{/unless}}

  {{#if model.channel.altLayout}}
    {{#alt-channel-layout
      navSlugTransition=(action 'navSlugTransition')
      defaultSlug=defaultSlug
      navRoot=navRoot
      channel=model.channel
      adminURL=adminURL
      isStaff=session.data.isStaff
      item=model.channel.featured}}

      {{outlet}}

      {{page-numbers
        currentPage=pageNumbers.page
        totalPages=pageNumbers.totalPages
        action="pageNumberClicked"}}

    {{/alt-channel-layout}}
  {{else}}
    {{#if model.channel.hasMarquee}}
        {{x-marquee model=model.channel isStaff=session.data.isStaff adminURL=adminURL}}
    {{else}}
      {{channel-header model=model.channel isStaff=session.data.isStaff adminURL=adminURL classNames=(unless model.channel.featured 'flush')}}
    {{/if}}

  <div class="l-constrained">
    <main class="l-col2of3">

      {{#if model.channel.featured}}
      <section>
        <h1 class="for-screenreaders">Featured Item</h1>
        {{story-tease
          parentTitle=model.channel.title
          isStaff=session.data.isStaff
          adminURL=adminURL
          item=model.channel.featured
          hideLinks=true
          isFeatured=true
          class='box box--bgoverflow'
          playContext='FeaturedItem'}}
      </section>
      {{/if}}

      {{#if model.channel.linkroll}}
        {{nav-links
          defaultSlug=defaultSlug
          navRoot=navRoot
          links=model.channel.linkroll
          transition=(action 'navSlugTransition')}}
      {{/if}}

      {{outlet}}

      {{page-numbers
        currentPage=pageNumbers.page
        totalPages=pageNumbers.totalPages
        action="pageNumberClicked"}}

    </main>

    <aside class="l-col1of3">
      <div class="l-skinny">

        {{#if model.channel.tease}}
        <div class="box box--nopad">
          <div class="box-heading">
            <h1 class="h5">About the {{capitalize-word model.channel.listingObjectType}}</h1>
          </div>
          <div class="text text--medium">
            <div class="text-body text-body--nopad text-body--forceinline">
              {{django-page page=model.channel.teaseForDjangoPage loadingType='channel-page'}}
              {{#if model.channel.producingOrganizations}}
                Produced by {{producing-orgs model.channel.producingOrganizations}}.
              {{/if}}
            </div>
          </div>
        </div>
        <!-- .box -->
        {{/if}}


        {{social-links
          facebook=model.channel.facebook.firstObject
          twitter=model.channel.twitter.firstObject
          newsletter=model.channel.newsletter.firstObject}}

        {{#if model.channel.chunkSidebarTop}}
          {{django-page page=model.channel.chunkSidebarTop loadingType='channel-page' class='channel-sidebar-chunk'}}
        {{/if}}

        {{dfp-ad
          slotClassNames="align--mq-centertoright channel-ad"
          slot="/6483581/rectangle/wnyc_rectangle"
          target="rightRail"
          sizes=(array (array 300 250) (array 300 600))}}

        {{#if model.channel.chunkSidebarBottom}}
          {{django-page page=model.channel.chunkSidebarBottom loadingType='channel-page'}}
        {{/if}}

      </div>
      <!-- .l-skinny -->
    </aside>
  </div>
  {{/if}}
{{/django-page}}
