<div class="playlistitem-time">
  {{#if nowPlaying}}
  Playing Now
  {{else}}
    {{moment-format item.startTime 'h:mm a'}}
  {{/if}}
</div>

{{#with item.catalogEntry as |entry|}}
  <div class="playlistitem-title">
    {{entry.title}}
  </div>
  <div class="playlistitem-composer">
    {{entry.composer.name}}
  </div>

  <div class="playlistitem-info">
  {{#if entry.ensemble}}
    <a href="{{entry.ensemble.url}}">
      {{entry.ensemble.name}}
    </a>
  {{/if}}
  </div>
  <div class="playlistitem-info">
  {{#if entry.conductor}}
    <a href="{{entry.conductor.url}}">{{entry.conductor.name}}</a>, conductor
  {{/if}}
  </div>
  {{#each entry.soloists as |soloist|}}
    <div class="playlistitem-info">
      <a href="{{soloist.musician.url}}">{{soloist.musician.name}}</a>{{#each soloist.instruments as |instrument|}}, {{instrument}}{{/each}}
    </div>
  {{/each}}
  <div class="playlistitem-info">
    {{entry.reclabel.name}}
  </div>
  <div class="playlistitem-duration">
    {{numeric-duration entryLengthMilliseconds}}
  </div>
  <div class="playlistitem-buylink">
    <a href="{{entry.arkiv_link}}">Buy</a>
  </div>
{{/with}}
