{{#nypr-form
  changeset=changeset
  allowedKeys=allowedKeys
  onSubmit=(action 'onSubmit')
  onSuccess=(action 'onSuccess')
  onFailure=(action 'onFailure')
  formClass='account-form'
  as |form|
}}
  {{#if triedUnconfirmedAccount}}
    <h2 class="account-form-heading">Oops!</h2>
    <p class="account-form-description">The account for {{changeset.email}} hasn’t been verified yet. But don’t worry — verification is easy. Once you click the link in the verification email, your account will be all set up.
    {{#resend-link
      target=resendEndpoint
      email=changeset.email}}
      Resend the email
    {{/resend-link}}</p>
  {{else}}
    <h2 class="account-form-heading">Log in to WNYC</h2>

    {{nypr-input
      label='Email'
      type='email'
      placeholder='you@email.com'
      fieldname='email'
      value=changeset.email
      errors=changeset.error.email.validation
      submitted=form.status.tried
    }}

    {{nypr-input
      label='Password'
      type='password'
      placeholder='Enter password'
      fieldname='password'
      value=changeset.password
      errors=changeset.error.password.validation
      helplinkUrl='/forgot'
      helplinkText='Forgot Password?'
      submitted=form.status.tried
    }}

    <button type="submit" class="account-form-btn" disabled={{form.status.processing}}>Log in</button>
  {{/if}}
{{/nypr-form}}
