<div class='discover-show-image'>
  <img src={{imageUrl}} width=150 height=150>
</div>

<div class="discover-show-selection-icon">
  {{input type='checkbox' name=slug checked=isSelected}}

  {{#if isSelected}}
    {{wnyc-svg icon="circle-checked" className="show-selected-icon"}}
  {{else}}
    {{wnyc-svg icon="circle-plus" className="show-not-selected-icon"}}
  {{/if}}
</div>

<h4 class="discover-show-title">
  {{title}}
</h4>
