{{#if hasPages}}
<section id="pagefooter">
  <h1 class="for-screenreaders">Pagination</h1>
    {{#unless onFirstPage}}
        <span class="pagefooter-previous">
            <a href="#" {{action "incrementPage" -1 bubbles=false}} class="page-indicators">Prev</a>
            <button {{action "incrementPage" -1}} class="btn btn-page-mobile btn--large btn--blacktext">&lsaquo; Prev</button>
        </span>
    {{/unless}}

    {{#each pages as |page|}}
        {{#if page.dots}}
        <span class="dots">...</span>
        {{/if}}
        {{#if page.current}}
            <span class="pagefooter-current">{{page.page}}</span>
        {{else}}
            <span class="pagefooter-link">
                <a href="#" {{action "pageClicked" page.page bubbles=false}}>{{page.page}}</a>
            </span>
        {{/if}}
    {{/each}}

    {{#unless onLastPage}}
        <span class="pagefooter-next">
            <a href="#" {{action "incrementPage" 1 bubbles=false}} class="page-indicators">Next</a> 
            <button {{action "incrementPage" 1}} class="btn btn-page-mobile btn--large {{currentPageClass}} btn--blacktext">Next &rsaquo;</button>
        </span>
    {{/unless}}
</section>
{{/if}}
