{{!-- Show Link --}}
{{#if (and showTitle media.isMediumAndUp)}}
  <a href='{{showUrl}}'
     title='{{showTitle}}'
     class='link--white'
     target={{is-external showUrl}}
     data-tracking-category='Persistent Player'
     data-tracking-action='Click Through to Show "{{showTitle}}"'
     data-tracking-region='Player'
     data-tracking-model='{{story.id}}'>{{showTitle}}</a>
  {{#if (or storyTitle catalogEntry)}} - {{/if}}
{{/if}}

{{!-- Story Link --}}
{{#if storyTitle}}
  <a href='{{storyUrl}}'
     title='{{storyTitle}}'
     class='link--white'
     target={{is-external storyUrl}}
     data-test-selector="persistent-player-story-title"
     data-tracking-category='Persistent Player'
     data-tracking-action='Click Through to Story'
     data-tracking-region='Player'
     data-tracking-model='{{story.id}}'>{{storyTitle}}</a>
{{/if}}

{{!-- Song Info --}}
{{#if catalogEntry}}
  {{song-metadata catalogEntry}}
{{/if}}

{{#if (and showTitle media.isSmallOnly)}}
  {{#if (or storyTitle catalogEntry)}} - {{/if}}
  <a href='{{showUrl}}'
     title='{{showTitle}}'
     class='link--white'
     target={{is-external showUrl}}
     data-tracking-category='Persistent Player'
     data-tracking-action='Click Through to Show "{{showTitle}}"'
     data-tracking-region='Player'
     data-tracking-model='{{story.id}}'>{{showTitle}}</a>
{{/if}}
