<div class="discover-playlist-story-info-basic">
  <div class="discover-playlist-story-info-primary">
    <h2 class="discover-playlist-story-title">
      <a href="{{story.url}}">{{story.title}}</a>
    </h2>
    <span class="discover-playlist-story-duration">
      {{story.audioDurationReadable}}
    </span>
    <h3 class="discover-playlist-story-show-title">
      <a href="{{story.showUrl}}">{{story.showTitle}}</a>
    </h3>
  </div>
  <div class="discover-playlist-story-summary-action">
    <a class="discover-playlist-story-summary-action-link {{if showSummary 'is-shown'}}" {{action "toggleSummary"}}>
      Summary
      {{wnyc-svg icon="arrow-dropdown"}}
    </a>
  </div>
</div>
<div class="discover-playlist-story-info-extended {{if showSummary 'is-shown'}}">
  {{{story.summary}}}
</div>

{{yield}}
