<div class="centennial-card">
  {{#if image}}
  <a href={{url}} class="centennial-card__image">
    <img alt="{{title}}"
      src="{{image-template image.template 270 200 image.crop}}"
      srcset="{{image-template image.template 540 400 image.crop}} 2x,
        {{image-template image.template 810 600 image.crop}} 3x"
      width="270" height="200">
  </a>
  {{else}}
    <div class="centennial-card__image centennial-card__image--placeholder"></div>
  {{/if}}
  <div class="centennial-card__content">
    <a href={{url}} class="centennial-card__title">
      <strong>{{ title }}</strong>
    </a>
    <p class="centennial-card__tease">{{{tease}}}</p>
  </div>
  <div class="centennial-card__footer">
  {{#if isStreamable}}
    {{#listen-button
      isLive=false
      type='blue-minion'
      playContext='centennial'
      isCurrentSound=(and (eq story.id currentPlaylistStoryPk) isPlaying)
      data-action=(concat 'Clicked Play/Pause ' 'On Demand: ' 'centennial')
      data-label=item.attributes.title
      itemPK=item.id
      itemTitle=item.attributes.title
      itemShow=(or item.attributes.showTitle item.attributes.channelTitle item.attributes.headers.brand.title)
      }}
      Listen
      <span class="centennial-card__duration">{{item.attributes.audioDurationReadable}}</span>
    {{/listen-button}}

    {{#if item.transcript}}
      <a href="{{item.attributes.url}}?tab=transcript" class="centennial-card__transcript-link">Read Transcript</a>
    {{/if}}
    {{centennial/centennial-share-button
      shareUrl=item.attributes.url
      shareTitle=item.attributes.title
    }}
  {{/if}}
</div>
</div>