{{#multiselect-checkboxes options=topics selection=selectedTopics as |topic isSelected|}}
  {{discover-topic title=topic.title url=topic.url isSelected=isSelected}}
{{/multiselect-checkboxes}}

{{#each selectedTopics as |topic|}}
  {{topic.title}}
{{/each}}

{{#if allSelected}}
  <a href="#" {{action 'selectNone'}}>Select None</a>
{{else}}
  <a href="#" {{action 'selectAll'}}>Select All</a>
{{/if}}

{{yield}}
