{{#multiselect-checkboxes
  options=topics
  selection=selectedTopicTags
  valueProperty='url'
  tagName='div'
  onchange=(action 'onMultiselectChangeEvent') as |topic isSelected|}}
  {{discover-topic
    title=topic.title
    url=topic.url
    isSelected=isSelected
    class='gtm__click-tracking'
    data-action='Discover'
    data-label=(concat (if isSelected 'Deselected Topic ' 'Selected Topic ') topic.title)
  }}

  {{! Adding this <hr> element and then doing a couple of nth-of-type selectors to
  display/hide them allows us to group the items in alternating groups of 3 and 4
  without having to write a component to do it, and allows us to change based on media query }}
  <hr class="discover-topic-line-separator"/>
{{/multiselect-checkboxes}}

<div class="discover-topic-bubble-select-all">
{{#if allSelected}}
  <button
    class="discover-topic-bubble gtm__click-tracking"
    data-action="Discover"
    data-label="Cleared All Topics"
    {{action 'selectNone'}}>Clear All</button>
{{else}}
  <button
    class="discover-topic-bubble gtm__click-tracking"
    data-action="Discover"
    data-label="Selected All Topics"
    {{action 'selectAll'}}>Select All</button>
{{/if}}
</div>

{{yield}}
