<button class="btn btn--blank btn--playerdark persistent-skipbutton" {{action 'rewind'}} aria-text="rewind 15 seconds" aria-labelledby="rewind-label">
  {{!--
  Moving aria labels inside of buttons. See example 4 here.
  https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_aria-labelledby_attribute

  Ran into bug in firefox with flexbox justify-content. It was considering absolutely positioned elements as flex items, even though they are out-of-flow. It's current behaviour here is based on an old version of the spec. See https://bugzilla.mozilla.org/show_bug.cgi?id=874718
  --}}
  <label class="visuallyhidden" id="rewind-label">Rewind 15 seconds</label>
  {{wnyc-svg className="icon" icon="rewind15"}}
</button>

{{listen-button
  type='white-hollow'
  state=playState
  itemTitle=currentTitle
  click=(action 'playOrPause')}}

<button class="btn btn--blank btn--playerdark persistent-skipbutton" {{action 'fastForward'}}  aria-text="skip forward 15 seconds" aria-labelledby="fastforward-label">
  <label class="visuallyhidden" id="fastforward-label">Skip ahead 15 seconds</label>
  {{wnyc-svg className="icon" icon="forward15"}}
</button>
