{{#if lgTeaseAndImage}}
  <div class="box-mat">
    <img src={{image-template item.imageMain.template 0 400 item.imageMain.crop}}>
  </div>
{{/if}}

{{#if isFeatured}}
  <div class="text text--small text--upper nudge {{if lgTeaseAndImage 'text--white'}}">
    <p>{{label}}</p>
  </div>
{{/if}}

<div class="flag flag--rev flush">
  <div class="flag-body {{if isSmallAndUp 'flag-body--rightpad'}}">
    {{#if item.headers.links}}
      <div class="text text--small nudge-mini">
        <span class="text-divide">
          {{#each item.headers.links as |link|}}
            <a class="{{if lgTeaseAndImage 'link--white' 'link--dark'}}" href="{{link.url}}">{{{link.title}}}</a>
            <span class="text-divide-slash"> / </span>
          {{/each}}
        </span>
        <!-- .text-divide -->
      </div>
    {{/if}}

    <div class="text {{if lgTeaseAndImage 'text--430 text--darkshadow'}}">
      <h2 class="{{if isFeatured 'h-featured' 'h2 h2--mq-small'}} nudge-mini">
        {{! #link-to 'story' item.id class="link--dark"}}{{! item.title}}{{! /link-to}}
        {{! this is gonna interrupt the click event but the action will carry on}}
        <a
          class="{{if lgTeaseAndImage 'link--white' 'link--dark'}}"
          data-test-selector="story-tease-title"
          href={{item.url}}
          {{action 'track'}}>

          {{{item.title}}}
        </a>
      </h2>

      <div class="text-body text--medium text-body--nopad {{if lgTeaseAndImage 'text--white'}}">
        {{{item.tease}}}
        <span class="dimmed text--small"> ({{format-date item.dateLine 'MMM D, YYYY'}})</span>
      </div>
    </div>

    <div class="btn-group">
      {{#if isListenableNow}}
        {{#if isLive}}
          <button {{action 'listen' item 'wnyc-fm939'}}
            aria-label="Listen to {{item.title}}"
            class="btn btn--blue {{if isFeatured 'btn--large'}}">
            <i class="fa fa-play {{if isFeatured 'icon--prefix--large' 'icon--prefix'}}"></i>
            Listen Live
            <span class="dimmed text--small">{{endtimeLabel}}</span>
          </button>
        {{else}}
          <button {{action 'listen' item}}
            aria-label="Listen to {{item.title}}"
            class="btn btn--blue {{if isFeatured 'btn--large'}}">
            <i class="fa fa-play {{if isFeatured 'icon--prefix--large' 'icon--prefix'}}"></i>
            Listen
            <span class="dimmed text--small">{{item.audioDurationReadable}}</span>
          </button>
        {{/if}}

      <button {{action 'queue' item}}
        aria-label="Add {{item.title}} to Your Queue"
        class="btn hide-on-mobile {{if lgTeaseAndImage 'btn--white' 'btn--graytext'}}">
        <i class="fa fa-plus icon--prefix"></i>Queue
      </button>

      {{else if isListenableEventually}}
        <div class="text text--medium text--lightergray flush--medium">
          <em>Audio not yet available</em>
        </div>
      {{/if}}

      <a data-url="{{item.editLink}}" class="btn btn--green stf" style="display:none">Edit this</a>
    </div>
    <!-- .btn-group -->

  </div> <!-- .flag-body -->

  {{#if item.imageMain}}
  {{#unless lgTeaseAndImage}}
  <a href={{item.url}} class="flag-image link--nodecor middle-narrow-up">
    <img alt="{{item.title}}"
        src="{{image-template item.imageMain.template 100 100 item.imageMain.crop}}"
        srcset="{{image-template item.imageMain.template 200 200 item.imageMain.crop}} 2x,
            {{image-template item.imageMain.template 300 300 item.imageMain.crop}} 3x"
        width="100" height="100">
  </a>
  <!-- .flag-image -->
  {{/unless}}
  {{/if}}

</div><!-- .flag -->

