{{#if isFancyFeatured}}
  <div class="box-mat" style='background-image:url({{image-template item.imageMain.template 0 400 item.imageMain.crop}});'></div>
{{/if}}

{{#if isFeatured}}
  <div class="text text--small text--upper text--heavy text--spacing nudge {{if isFancyFeatured 'text--lightgray'}}">
    <p>{{status}}</p>
  </div>
{{/if}}

<div class="flag flag--rev flush">
  <div class="flag-body {{if isSmallAndUp 'flag-body--rightpad'}}">
    {{#if (and item.headers.links showParent)}}
      <div class="text text--small nudge-mini">
        <span class="text-divide">
          {{#each item.headers.links as |link|}}
            <a class="{{if isFancyFeatured 'link--white' 'link--dark'}}" href="{{link.url}}">{{{link.title}}}</a>
            <span class="text-divide-slash"> / </span>
          {{/each}}
        </span>
        <!-- .text-divide -->
      </div>
    {{/if}}

    <div class="text {{if isFancyFeatured 'text--430 text--darkshadow'}}">
      <h2 class="{{if isFeatured 'h-featured' 'h2 h2--mq-small'}} nudge-mini">
        {{! #link-to 'story' item.id class="link--dark"}}{{! item.title}}{{! /link-to}}
        <a class="{{if isFancyFeatured 'link--white' 'link--dark'}}" data-test-selector="story-tease-title" href={{item.url}}>

          {{{item.title}}}
        </a>
      </h2>

      <div class="text-body text-body--nopad {{if isFancyFeatured 'text--white text--semi'}}">
        {{{item.tease}}}
        <span class="dimmed text--small"> ({{moment-format item.dateLineDatetime 'MMM D, YYYY'}})</span>
      </div>
    </div>

    <div class="btn-group btn-group--storytease">
      {{#if isListenableNow}}
        {{#listen-button
          isLive=isLive
          type=(if isFeatured 'blue-boss' 'blue-minion')
          state=listenState
          playContext=playContext
          itemPK=itemId
          itemTitle=item.title}}

          {{if isLive 'Listen Live' 'Listen'}}
          <span class="text--small dimmed">{{if isLive endtimeLabel item.audioDurationReadable}}</span>

        {{/listen-button}}

        {{#if item.audioAvailable}}
          {{queue-button
            type=(if isFancyFeatured 'queue-button--fancyfeature' 'just-gray')
            itemPK=item.id
            itemTitle=item.title
            duration=item.audioDurationReadable
            data-test-selector="queue-button"
            region=region}}
        {{/if}}

      {{else if isListenableEventually}}
        <div class="text text--medium text--lightergray flush--medium">
          <em>Audio not yet available</em>
        </div>
      {{/if}}

      {{#if user.is_staff}}
        <a href="{{user.adminURL}}/{{item.editLink}}" class="btn btn--green" target="_blank" data-test-selector="admin-link">Edit this</a>
      {{/if}}
    </div>
    <!-- .btn-group -->

  </div> <!-- .flag-body -->

  {{#if item.imageMain}}
  {{#unless isFancyFeatured}}
  <a href={{item.url}} class="flag-image link--nodecor middle-narrow-up">
    <img alt="{{item.title}}"
        src="{{image-template item.imageMain.template 100 100 item.imageMain.crop}}"
        srcset="{{image-template item.imageMain.template 200 200 item.imageMain.crop}} 2x,
            {{image-template item.imageMain.template 300 300 item.imageMain.crop}} 3x"
        width="100" height="100">
  </a>
  <!-- .flag-image -->
  {{/unless}}
  {{/if}}

</div><!-- .flag -->
