<div class="account-promo">
  <div class="account-logo">
  <a href="/">
    {{wnyc-svg icon='logo-wnyc'}}
  </a>
  </div>
  <div class="account-promo-blurb">
    <!-- <div class="account-promo-heading">THE WNYC ONLINE COMMUNITY</div> -->
    <div class="account-promo-text">
      It's hard sometimes to get out of bed, and it really helps to know I'm going to be listening to WNYC.
      <br><br>
      <div class="account-promo-name">Tom Mullen</div>
      <div class="account-promo-profession">Principal, Leaders High School</div>
    </div>
  </div>
</div>
<div class="account-main">
{{yield}}

  <div class="account-footer">
    <div class="account-footer-links">
      {{link-to 'Terms' 'djangorendered' 'terms'}}
      {{link-to 'Privacy' 'djangorendered' 'privacy'}}
      {{link-to 'Help' 'djangorendered' 'contact' target='_blank'}}
    </div>
    <div>&copy; {{moment-format (now) 'YYYY'}} New York Public Radio</div>
  </div>

</div>
