<div class="account-main">
  {{#each flashMessages.queue as |flash|}}
    {{flash-message flash=flash}}
  {{/each}}
  <div class="account-wrapper">
    <div class="account-logo">
      <a href="/">
        {{nypr-svg icon='wqxr-logo-blue'}}
      </a>
    </div>
    {{yield}}

    <div class="account-footer">
      <div class="account-footer-links">
        {{link-to 'Terms' 'djangorendered' 'terms' target='_blank'}}
        {{link-to 'Privacy' 'djangorendered' 'privacy' target='_blank'}}
        {{link-to 'Help' 'djangorendered' 'contact' target='_blank'}}
      </div>
      <div>&copy; {{moment-format (now) 'YYYY'}} New York Public Radio</div>
    </div>
  </div>
</div>
<div class="account-promo">
  <div class="account-promo-blurb">
    <div class="account-promo-text">
      <div class="account-promo-quote">"WQXR has been a great single destination to hear lots of music, not a lot of talk."</div>
      <div class="account-promo-name">Alanna</div>
      <div class="account-promo-profession">WQXR Listener</div>
    </div>
  </div>
</div>
