<div class="account-promo">
  <div class="account-logo">
  <a href="/">
    {{wnyc-svg icon='logo-wnyc'}}
  </a>
  </div>
  <div class="account-promo-blurb">
    <div class="account-promo-heading">THE WNYC ONLINE COMMUNITY</div>
    <div class="account-promo-text">
      <em>“Join the family. I really feel like WNYC provides a sense of community and creates a sense of regional identity.”</em>
      <br><br>
      <span class="account-promo-attribution">- Melissa from New Jersey</span>
    </div>
  </div>
</div>
<div class="account-main">
{{yield}}

  <div class="account-footer">
    {{link-to 'Terms' 'djangorendered' 'terms'}}
    {{link-to 'Privacy' 'djangorendered' 'privacy'}}
    {{link-to 'Help' 'djangorendered' 'contact' target='_blank'}}
  </div>
  
</div>
