<header class="discover-setup-header">
  <div class="discover-setup-header-action">

    {{link-to "Back" 'discover.start' class="btn btn--white btn--heavyborder btn--heavy text--upper h2"}}

  </div>
  <div>
    <h2 class="discover-setup-title-step h2 text--white">Pick Your Topics</h2>
  </div>
  <div class="discover-setup-header-action">
    {{#if hasNotSelectedATopic}}
      <button class="btn btn--heavy btn--white text--upper h2" disabled='disabled'>Next</button>
    {{else}}
      <button class="btn btn--heavy btn--red text--upper h2" disabled={{hasNotSelectedATopic}} {{action 'next' currentTopicSelection}}>Next</button>
    {{/if}}
  </div>
</header>

{{discover-topic-list
  topics=model.topics
  selectedTopics=model.savedTopics
  onNoneSelected=(action (mut hasNotSelectedATopic))
  onTopicsUpdated=(action (mut currentTopicSelection))}}

{{outlet}}
