<div class="centennial-explore centennial-module l-constrained">
  <div>
    <h2>Explore Centennial Content</h2>
  </div>
  <div>
    {{#if category1Items}}
    <h3>{{category1Title}}</h3>
      {{centennial/centennial-card-list items=category1Items}}
    {{/if}}
    {{#if category2Items}}
    <h3>{{category2Title}}</h3>
      {{centennial/centennial-card-list items=category2Items}}
    {{/if}}
    {{#if category3Items}}
    <h3>{{category3Title}}</h3>
      {{centennial/centennial-card-list items=category3Items}}
    {{/if}}
  </div>
</div>