  {{#if isLoggedIn}}
    <div class="user-nav-logged-in">
      {{#click-outside action=(action 'closePopup')}}
        <button {{action 'togglePopup'}}>
          <div class="user-nav-avatar">
          {{#if currentUser.user.picture}}
            <img src={{currentUser.user.picture}}>
          {{else}}
            {{wnyc-svg icon="user"}}
          {{/if}}
          </div>
          <span class="user-nav-greeting">Hi, {{or currentUser.user.givenName 'You'}}</span>
          <span class="user-nav-triangle"></span>
        </button>
        {{#if isPopupOpen}}
          <div class="user-nav-popup-pointer"></div>
          <div class="user-nav-popup">
            <ul class="user-nav-list">
              <li class="user-nav-listitem">{{link-to 'Account' 'profile' class="inherit" preventDefault=false}}</li>
              <li class="user-nav-listitem">{{link-to 'Logout' 'logout' class="inherit" preventDefault=false}}</li>
            </ul>
          </div>
        {{/if}}
      {{/click-outside}}
    </div>
  {{else}}
    <div class="user-nav-signup user-nav-link">
      {{link-to 'Sign Up' 'accounts.signup' class="inherit" preventDefault=false}}
    </div>
    <div class="user-nav-login user-nav-link">
      {{link-to 'Log In' 'accounts.login' class="inherit" preventDefault=false}}
    </div>
  {{/if}}
