<div class="l-constrained">
    {{#google-ad ad="leaderboard" class="l-constrained is-collapsed"}}
        <div id="leaderboard" class="aligncenter"></div>
    {{/google-ad}}

	<div class="schedule-container site-container">
        <main class="main-content">
            <div class="schedule-playlists">
                <h1 class="h1 h1--extrabold h1--mq-small nudge">Daily Schedule</h1>
                <div id="daily-schedule">

                    {{! Station navigation start}}
                    <div id="station-nav" class="station-navigation">
                        <ul class="schedule-station-tabs">
                            {{#link-to "schedule" year month day (query-params scheduleStation="wnyc-fm939") tagName="li"  class="wnyc-fm939 first"}}
                            <a href="?scheduleStation=wnyc-fm939" class="link--dark">WNYC 93.9 FM</a>
                            {{/link-to}}
                            {{#link-to "schedule" year month day (query-params scheduleStation="wnyc-am820") tagName="li" class="wnyc-am820"}}
                            <a href="?scheduleStation=wnyc-am820" class="link--dark">WNYC AM 820</a>
                            {{/link-to}}
                            {{#link-to "schedule" year month day (query-params scheduleStation="njpr") tagName="li" class="njpr"}}
                            <a href="?scheduleStation=njpr" class="link--dark">NJPR</a>
                            {{/link-to}}
                            {{#link-to "schedule" year month day (query-params scheduleStation="special-events-stream") tagName="li" class="special-events-stream"}}
                            <a href="?scheduleStation=special-events-stream" class="link--dark">WNYC Special</a>
                            {{/link-to}}
                            {{#link-to "schedule" year month day (query-params scheduleStation="jonathan-channel") tagName="li" class="jonathan-channel last"}}
                            <a href="?scheduleStation=jonathan-channel" class="link--dark">The Jonathan Channel</a>
                            {{/link-to}}
                        </ul>
                        <div class="print-wnyc-schedule">
                            <a href="http://www.wnyc.org/resources/96650/wnyc-schedule.pdf" target="_blank">
                                Weekly Schedule (.pdf)
                            </a>
                        </div>
                    </div>
                    {{! /Station navigation end}}

                    {{! Date navigation }}
                    <ul class="schedule-date-control">
                        <li class="yesterday first">
                            {{#link-to "schedule" yesterdayLink.year yesterdayLink.month yesterdayLink.day (query-params scheduleStation=scheduleStation)}}
                            <div class="action-button-icon">
                                {{wnyc-svg icon="left-caret"}}
                            </div>
                            <span>{{yesterday}}</span>
                            {{/link-to}}
                        </li>
                        <li class="today">{{fullDayAndDate}}</li>
                        <li class="tomorrow last">
                            {{#link-to "schedule" tomorrowLink.year tomorrowLink.month tomorrowLink.day (query-params scheduleStation=scheduleStation)}}
                            <span>{{tomorrow}}</span>
                            <div class="action-button-icon">
                                {{wnyc-svg icon="right-caret"}}
                            </div>
                            {{/link-to}}
                        </li>
                    </ul>
                    {{! /Date navigation }}

                    {{! ScheduleEvent list }}
                    <ul class="schedule-table {{currentlyLoading}}">
                        {{#each model as |scheduleEvent|}}
                        <div class="event">
                            {{#if scheduleEvent.objIsSchedule}}
                            <li class="time">
                                <div class="time">{{scheduleEvent.startReadable}}</div>
                            </li>
                            <li class="details">
                                <div class="schedule-event show-title">
                                    <a href={{scheduleEvent.parentUrl}}>{{scheduleEvent.parentTitle}}</a>
                                </div>
                                <div class="text">
                                    <a href={{scheduleEvent.scheduleEventUrl}}>{{scheduleEvent.scheduleEventTitle}}</a>
                                </div>
                            </li>
                            {{else}}
                            <li class="time">
                                <div class="time">{{scheduleEvent.startReadable}}</div>
                            </li>
                            <li class="details">
                                <div class="airing show-title">
                                    <p>{{scheduleEvent.scheduleEventTitle}}</p>
                                </div>
                                <div class="airing text">
                                    <a href={{scheduleEvent.parentUrl}}>{{scheduleEvent.parentTitle}}</a>
                                </div>
                            </li>
                            {{/if}}
                        </div>
                        {{/each}}
                    </ul>
                    {{! /ScheduleEvent list }}

                </div>
            </div>
        </main>

        <aside class="sidebar">
            {{google-ad ad="rightRail" class="align--mq-centertoright channel-ad"}}
        </aside>
	</div>
</div>
