{{!--
  Using <a> tags here instead of ember {{link-to}} helpers in order to run google analytics tracking events on the links. Global link handler catches clicks on links with data-tracking properties and runs an event tracking function before routing the link. More in /wqxr-web-client/app/instance-initializers/link-handler.js
--}}

<footer class="l-full flush sitechrome-footer" id="footer">
  <div class="for-screenreaders">
    <h1>Document Footer</h1>
  </div>

  <div class="{{if media.isMediumAndUp 'l-padtop--double' 'l-padtop'}}">
    <div class="l-constrained">
      <div class="{{if media.isMediumAndUp 'l-flexgrid'}}">


      {{#if media.isMediumAndUp }}
        <nav class="l-flex1of3">
          <div class="l-unconstrained flush">
            <div class="nudge-large">
              <div class="l-constrained">
                  <div class="footer-logo">
                    {{nypr-svg icon='wqxr-logo-w-station' className='icon--wqxr-logo-footer'}}
                  </div>

                  <div class="text text--medium alignleft">
                    <div class="text-body text-body--rightpad2x text--lightgray">
                      <p>WQXR is New York City’s only classical music radio station, broadcasting live on 105.9 FM. We share our audience’s passion for music by playing the most outstanding pieces on air, online and through our app. WQXR is made possible thanks to the generous support of our members and sponsors.</p>
                    </div>
                  </div>

                  <div class="text text--medium alignleft">
                    <div class="text-body text-body--rightpad2x text--lightgray">
                      <p>&copy; {{moment-format (now) 'YYYY'}} New York Public Radio<br>
                        All Rights Reserved.</p>
                    </div>
                  </div>

                  <div class="text text--medium alignleft">
                    <div class="text-body text-body--rightpad2x text--lightgray">
                      <p>WQXR is supported by <br/>
                        {{nypr-svg icon='jlgreene-logo' className='icon--jlgreene-logo-footer'}}</p>
                    </div>
                  </div>

                  <ul class="list list--noborder list--inline flush alignleft">
                    <li class="list-item list-item--tiny">
                      <a href="/terms/" title="Terms of Use" data-tracking-category="WQXR Menu" data-tracking-action="Clicked Terms of Use">Terms of Use</a>
                    </li>
                    <li class="list-item list-item--tiny">
                      <a href="/privacy/" title="Privacy" data-tracking-category="WQXR Menu" data-tracking-action="Clicked Privacy">Privacy</a>
                    </li>
                  </ul>
              </div>
              <!-- .l-constrained -->
            </div>
            <!-- .l-highlight -->
          </div>
          <!-- .l-unconstrained -->
        </nav>
        <!-- .l-flex1of3 About WQXR -->
        {{/if}}


        <div class="{{if media.isMediumAndUp 'l-flex2of3' 'l-flexgrid'}}">
          <nav class="{{if media.isMediumAndUp 'l-col1of3' 'l-flex1of2 l-flex1of2--50percent'}}">
            <div class="{{unless media.isMediumAndUp 'l-constrained nudge'}}">
              <h2 class="{{if media.isMediumAndUp 'h2 text--normal' 'text--spacing h5 nudge'}}">
                WQXR
              </h2>
              <ul class="list list--noborder">
                <li class="list-item list-item--tiny">
                  <a href="/playlist-daily" title="Playlists" data-tracking-category="WQXR Menu" data-tracking-action="Clicked Playlists">Music Playlists</a>
                </li>
                <li class="list-item list-item--tiny">
                  <a href="/schedule/" title="Schedule" data-tracking-category="WQXR Menu" data-tracking-action="Clicked Schedule">Schedule</a>
                </li>
                <li class="list-item list-item--tiny">
                  <a href="/shows" title="Programs" data-tracking-category="WQXR Menu" data-tracking-action="Clicked Shows">Programs</a>
                </li>
                <li class="list-item list-item--tiny">
                  <a href="/hosts/" title="Hosts" data-tracking-category="WQXR Menu" data-tracking-action="Clicked Hosts">Hosts</a>
                </li>
                <li class="list-item list-item--tiny">
                  <a href="/events/" title="Events" data-tracking-category="WQXR Menu" data-tracking-action="Clicked Events">Events</a>
                </li>
                <li class="list-item list-item--tiny">
                  <a href="/videos/" title="Videos" data-tracking-category="WQXR Menu" data-tracking-action="Clicked Videos">Videos</a>
                </li>
                <li class="list-item list-item--tiny">
                  <a href="/blogs/wqxr-blog/" title="WQXR Blog" data-tracking-category="WQXR Menu" data-tracking-action="Clicked WQXR Blog">WQXR Blog</a>
                </li>
                <li class="list-item list-item--tiny">
                  <a href="/blogs/operavore/" title="Operavore" data-tracking-category="WQXR Menu" data-tracking-action="Clicked Operavore">Operavore</a>
                </li>
              </ul>
            </div>
          </nav>
          <!-- .l-col1of3 -->


          <nav class="{{if media.isMediumAndUp 'l-col1of3' 'l-flex1of2 l-flex1of2--50percent'}}">
            <div class="{{unless media.isMediumAndUp 'l-constrained nudge'}}">
              <h2 class="{{if media.isMediumAndUp 'h2 text--normal' 'text--spacing h5 nudge'}}">
                Q2 Music
              </h2>
              <!-- .h2 -->
              <ul class="list list--noborder">
                <li class="list-item list-item--tiny">
                  <a href="/series/q2/" title="Homepage" data-tracking-category="WQXR Menu" data-tracking-action="Clicked Homepage">Homepage</a>
                </li>
                <li class="list-item list-item--tiny">
                  <a href="/playlist-daily/?scheduleStation=q2" title="Playlists" data-tracking-category="WQXR Menu" data-tracking-action="Clicked Playlists">Playlists</a>
                </li>
                <li class="list-item list-item--tiny">
                  <a href="/schedule/?scheduleStation=q2" title="Schedule" data-tracking-category="WQXR Menu" data-tracking-action="Clicked Schedule">Schedule</a>
                </li>
                <li class="list-item list-item--tiny">
                  <a href="/shows/meet-composer/" title="Meet the Composer" data-tracking-category="WQXR Menu" data-tracking-action="Clicked Meet the Composer">Meet the Composer</a>
                </li>
                <li class="list-item list-item--tiny">
                  <a href="/shows/lprlive/" title="LPR Live" data-tracking-category="WQXR Menu" data-tracking-action="Clicked LPR Live">LPR Live</a>
                </li>
                <li class="list-item list-item--tiny">
                  <a href="/shows/newyorknow/" title="On-Demand Concerts" data-tracking-category="WQXR Menu" data-tracking-action="Clicked On-Demand Concerts">On-Demand Concerts</a>
                </li>
                <li class="list-item list-item--tiny">
                  <a href="/story/458-say-hello-q2/" title="About" data-tracking-category="WQXR Menu" data-tracking-action="Clicked About">About</a>
                </li>
              </ul>
            </div>
          </nav>
          <!-- .l-col1of3 -->


          <nav class="{{if media.isMediumAndUp 'l-col1of3' 'l-flex1of2 l-flex1of2--50percent'}}">
            <div class="{{unless media.isMediumAndUp 'l-constrained nudge'}}">
              <h2 class="{{if media.isMediumAndUp 'h2 text--normal' 'text--spacing h5 nudge'}}">
                About Us
              </h2>
              <!-- .h2 -->
              <ul class="list list--noborder">
                <li class="list-item list-item--tiny">
                  <a href="/mobile-apps/" title="Mobile Apps" data-tracking-category="WQXR Menu" data-tracking-action="Clicked Mobile Apps">Mobile Apps</a>
                </li>
                <li class="list-item list-item--tiny">
                  <a href="/support/" title="" data-tracking-category="WQXR Menu" data-tracking-action="Clicked Support WQXR">Support WQXR</a>
                </li>
                <li class="list-item list-item--tiny">
                  <a href="/about/" title="About WQXR" data-tracking-category="WQXR Menu" data-tracking-action="Clicked About WQXR">About WQXR</a>
                </li>
                <li class="list-item list-item--tiny">
                  <a href="/audio/help-new-player/" title="Audio Help" data-tracking-category="WQXR Menu" data-tracking-action="Clicked Audio Help">Audio Help</a>
                </li>
                <li class="list-item list-item--tiny">
                  <a href="/contact/" title="Contact Us" target="_blank" data-tracking-category="WQXR Menu" data-tracking-action="Clicked Contact Us">Contact Us</a>
                </li>
                <li class="list-item list-item--tiny">
                  <a href="/press/" title="Press" data-tracking-category="WQXR Menu" data-tracking-action="Clicked Press">Press</a>
                </li>
                <li class="list-item list-item--tiny">
                  <a href="/careers/" title="Jobs" data-tracking-category="WQXR Menu" data-tracking-action="Clicked obs">Jobs</a>
                </li>
                <li class="list-item list-item--tiny">
                  <a href="/underwriting/" title="Sponsorship" target="_blank" data-tracking-category="WQXR Menu" data-tracking-action="Clicked Sponsorship">Sponsorship</a>
                </li>
                <li class="list-item list-item--tiny">
                  <a href="http://www.wqxr.org/outreach/cab/" title="Community Advisory Board" data-tracking-category="WQXR Menu" data-tracking-action="Clicked Community Advisory Board">Community Advisory Board</a>
                </li>
                <li class="list-item list-item--tiny">
                  <a href="http://nypublicradio.org/" title="NY Public Radio" data-tracking-category="WQXR Menu" data-tracking-action="Clicked NY Public Radio">NY Public Radio</a>
                </li>
                <li class="list-item list-item--tiny">
                  <a href="/articles/wqxr-and-q2-music-contest-rules/" title="Contest Rules" data-tracking-category="WQXR Menu" data-tracking-action="Clicked Contest Rules">Contest Rules</a>
                </li>
              </ul>
            </div>
          </nav>
          <!-- .l-col1of3 -->

          <!-- if smaller screens, inclue social links -->
          {{#unless media.isMediumAndUp }}
          <nav class="l-flex1of2 l-flex1of2--50percent">
            <div class="l-constrained nudge">
              <h2 class="text--spacing h5 nudge">
                Connect
              </h2>
              <ul class="list list--noborder">
               <li class="list-item list-item--tiny">
              <a href="http://www.facebook.com/WQXRClassical" title="Facebook" target="_blank" data-tracking-category="WQXR Menu" data-tracking-action="Clicked Facebook">
                <i class="fa fa-facebook"></i>
                <span>Facebook</span>
              </a>
            </li>
            <li class="list-item list-item--tiny">
              <a href="http://www.twitter.com/WQXR" title="Twitter" target="_blank" data-tracking-category="WQXR Menu" data-tracking-action="Clicked Twitter">
                <i class="fa fa-twitter"></i>
                <span>Twitter</span>
              </a>
            </li>
            <li class="list-item list-item--tiny">
              <a href="https://www.instagram.com/wqxr_classical/" title="Instagram" target="_blank" data-tracking-category="WQXR Menu" data-tracking-action="Clicked Instagram">
                <i class="fa fa-instagram"></i>
                <span>Instagram</span>
              </a>
            </li>
            <li class="list-item list-item--tiny">
              <a href="http://www.youtube.com/user/WQXRClassical" title="YouTube" target="_blank" data-tracking-category="WQXR Menu" data-tracking-action="Clicked YouTube">
                <i class="fa fa-youtube"></i>
                <span>YouTube</span>
              </a>
            </li>
            <li class="list-item list-item--tiny">
              <a href="/feeds/all/" title="RSS" target="_blank" data-tracking-category="WQXR Menu" data-tracking-action="Clicked RSS">
                <i class="fa fa-rss"></i>
                <span>RSS</span>
              </a>
            </li>
          </ul>
        </div>
          </nav>
          <!-- .l-col1of2 -->
          {{/unless}}
          <!-- end include social links -->


        </div>
        <!-- .l-flex2of3 -->
        <!-- inside wqxr/q2/about -->
      </div>
      <!-- .l-flexgrid -->
    </div>
    <!-- .l-constrained -->
  </div>
  <!-- .l-highlight -->

{{#if media.isMediumAndUp }}
  <div class="l-highlight--black pad-persistent-player">
    <div class="l-constrained l-constrained--shrink">
      <div class="box--topborder box--topborder--light box--flexpadtop">
        <div class="l-full">

        <ul class="list list--noborder list--inline flush aligncenter">
          <h2 class="h2 inline">Connect</h2>


          <li class="list-item list-item--tiny">
              <a href="http://www.facebook.com/WQXRClassical" title="Facebook" target="_blank" data-tracking-category="WQXR Menu" data-tracking-action="Clicked Facebook">
                <i class="fa fa-facebook"></i>
                <span>Facebook</span>
              </a>
            </li>
            <li class="list-item list-item--tiny">
              <a href="http://www.twitter.com/WQXR" title="Twitter" target="_blank" data-tracking-category="WQXR Menu" data-tracking-action="Clicked Twitter">
                <i class="fa fa-twitter"></i>
                <span>Twitter</span>
              </a>
            </li>
            <li class="list-item list-item--tiny">
              <a href="https://www.instagram.com/wqxr_classical/" title="Instagram" target="_blank" data-tracking-category="WQXR Menu" data-tracking-action="Clicked Instagram">
                <i class="fa fa-instagram"></i>
                <span>Instagram</span>
              </a>
            </li>
            <li class="list-item list-item--tiny">
              <a href="http://www.youtube.com/user/WQXRClassical" title="YouTube" target="_blank" data-tracking-category="WQXR Menu" data-tracking-action="Clicked YouTube">
                <i class="fa fa-youtube"></i>
                <span>YouTube</span>
              </a>
            </li>
            <li class="list-item list-item--tiny">
              <a href="/feeds/all/" title="RSS" target="_blank" data-tracking-category="WQXR Menu" data-tracking-action="Clicked RSS">
                <i class="fa fa-rss"></i>
                <span>RSS</span>
              </a>
            </li>
        </ul>
     </div>
        <!-- .l-full -->
      </div>
      <!-- .box -->
    </div>
      <!-- .l-constrained -->
  </div>
  <!-- .l-highlight -->
  {{/if}}

  {{#unless media.isMediumAndUp }}
  <div class="l-constrained pad-persistent-player">
      <div class="l-padtop nudge-large">
        <div class="l-constrained">
            <div class="text text--medium alignleft">
              <div class="text-body text-body--rightpad2x text--lightgray">
                <p>&copy; {{moment-format (now) 'YYYY'}} New York Public Radio<br>
                  All Rights Reserved.</p>
              </div>
            </div>

            <div class="text text--medium alignleft">
              <div class="text-body text-body--rightpad2x text--lightgray">
                <p>WQXR is supported by <br/>
                  {{nypr-svg icon='jlgreene-logo' className='icon--jlgreene-logo-footer'}}</p>
              </div>
            </div>

            <ul class="list list--noborder list--inline flush alignleft">
              <li class="list-item list-item--tiny">
                <a href="/terms/" title="Terms of Use" data-tracking-category="WQXR Menu" data-tracking-action="Clicked Terms of Use">Terms of Use</a>
              </li>
              <li class="list-item list-item--tiny">
                <a href="/privacy/" title="Privacy" data-tracking-category="WQXR Menu" data-tracking-action="Clicked Privacy">Privacy</a>
              </li>
            </ul>
        </div>
        <!-- .l-constrained -->
      </div>
      <!-- .l-padtop -->
    </div>
    <!-- .l-constrained -->
  {{/unless}}

</footer>
