{{!--
  Using <a> tags here instead of ember {{link-to}} helpers in order to run google analytics tracking events on the links. Global link handler catches clicks on links with data-tracking properties and runs an event tracking function before routing the link. More in /overhaul/app/instance-initializers/link-handler.js
--}}

<footer class="l-full flush" id="footer">
  <div class="for-screenreaders">
    <h1>Document Footer</h1>
  </div>

  <div class="l-highlight--gray {{if media.isMiddleNarrowAndUp 'l-padtop'}}">
    <div class="l-constrained">
      <div class="l-flexgrid">
        <nav class="l-flex1of2">
          <div class="l-unconstrained {{if media.isMiddleNarrowAndUp 'flush'}}">
            <div class="l-highlight--mq--graydark {{unless media.isMiddleNarrowAndUp 'l-padtop'}}">
              <div class="l-constrained">
                <div class="align--mq-centertoleft">
                  <h2 class="text--normal h2">
                    {{wnyc-svg icon='logo-wnyc' className='icon--wnyc-logo-footer'}}
                    <span class="middle-narrow-up">About WNYC</span>
                  </h2>
                  <!-- .h2 -->

                  <div class="text text--medium">
                    <div class="text-body text-body--rightpad2x">
                      <p>WNYC creates ground-breaking radio programs and podcasts for public radio stations around the country and listeners throughout the world. Broadcasting live from New York City on 93.9FM and 105.9FM and available online and on the go.</p>
                    </div>
                  </div>
                  <!-- .text -->
                </div>
                <!-- .align-mq -->
              </div>
              <!-- .l-constrained -->
            </div>
            <!-- .l-highlight -->
          </div>
          <!-- .l-unconstrained -->

          <div class="l-highlight--gray">
            <div class="l-flexgrid">
              <div class="l-flex1of2 l-flex1of2--fixed">
                <ul class="list list--noborder align--mq-centertoleft">
                  <li class="list-item list-item--tiny">
                    <a href="/schedule"
                      class="link--capbold"
                      title="On Air Schedule"
                      data-tracking-category="WNYC Menu"
                      data-tracking-action="Clicked On Air Schedule">
                      On Air Schedule
                    </a>
                  </li>
                  <li class="list-item list-item--tiny">
                    <a href="/newsletters"
                      class="link--capbold"
                      title="Daily Newsletter"
                      data-tracking-category="WNYC Menu"
                      data-tracking-action="Clicked Daily Newsletter">
                      Daily Newsletter
                    </a>
                  </li>
                  <li class="list-item list-item--tiny">
                   <a href="/events"
                      class="link--capbold"
                      title="Events"
                      data-tracking-category="WNYC Menu"
                      data-tracking-action="Clicked Events">
                      Events
                    </a>
                  </li>
                  <li class="list-item list-item--tiny">
                    <a href="/community"
                      class="link--capbold"
                      title="Community"
                      data-tracking-category="WNYC Menu"
                      data-tracking-action="Clicked Community">
                      Community
                    </a>
                  </li>
                  <li class="list-item list-item--tiny">
                    <a href="/giveaways"
                      class="link--capbold"
                      title="Giveaways"
                      data-tracking-category="WNYC Menu"
                      data-tracking-action="Clicked Giveaways">
                      Giveaways
                    </a>
                  </li>
                  <li class="list-item list-item--tiny">
                    <a href="/weather"
                      class="link--capbold"
                      title="Weather"
                      data-tracking-category="WNYC Menu"
                      data-tracking-action="Clicked Weather">
                      Weather
                    </a>
                  </li>
                </ul>
              </div>
              <div class="l-flex1of2 l-flex1of2--fixed">
                <ul class="list list--noborder align--mq-centertoleft">
                   <li class="list-item list-item--tiny">
                    <a href="/mobile"
                      class="link--capbold"
                      title="Download Our Apps"
                      data-tracking-category="WNYC Menu"
                      data-tracking-action="Clicked Download Our Apps">
                      Download Our Apps
                    </a>
                  </li>
                   <li class="list-item list-item--tiny">
                    <a href="/audio/podcasts"
                      class="link--capbold"
                      title="Podcasts"
                      data-tracking-category="WNYC Menu"
                      data-tracking-action="Clicked Podcasts">
                      Podcasts
                    </a>
                  </li>
                   <li class="list-item list-item--tiny">
                    <a href="/archived-shows"
                      class="link--capbold"
                      title="More Shows"
                      data-tracking-category="WNYC Menu"
                      data-tracking-action="Clicked More Shows">
                      More Shows
                    </a>
                  </li>
                  <li class="list-item list-item--tiny">
                    <a href="/series/archives-preservation"
                      class="link--capbold"
                      title="Audio Archives"
                      data-tracking-category="WNYC Menu"
                      data-tracking-action="Clicked Audio Archives">
                      Audio Archives
                    </a>
                  </li>
                  <li class="list-item list-item--tiny">
                    <a href="/audio/help"
                      class="link--capbold"
                      title="Audio Help"
                      data-tracking-category="WNYC Menu"
                      data-tracking-action="Clicked Audio Help">
                      Audio Help
                    </a>
                  </li>
                  <li class="list-item list-item--tiny">
                    <a href="/support"
                      class="link--capbold"
                      title="Support WNYC"
                      data-tracking-category="WNYC Menu"
                      data-tracking-action="Clicked Support WNYC">
                      Support WNYC
                    </a>
                  </li>
                </ul>
              </div>

            </div>
            <!-- .l-flexgrid -->
          </div>
          <!-- .l-highlight-dark -->
        </nav>
        <!-- .l-flex1of2 About WNYC -->

        <div class="l-flex1of2">
          <nav class="l-col1of2">
            <div class="align--mq-centertoleft">
              <h2 class="{{if media.isMiddleNarrowAndUp 'h2 text--normal' 'text--red text--upper text--spacing h5 nudge'}}">
                Inside WNYC
              </h2>
              <!-- .h2 -->
              <ul class="list list--noborder align--mq-centertoleft">
                <li class="list-item list-item--tiny">
                  <a href="/about" 
                    title="About Us" 
                    class="link--capbold"
                    data-tracking-category="WNYC Menu"
                    data-tracking-action="Clicked About Us">
                    About Us
                  </a>
                </li>
                <li class="list-item list-item--tiny">
                  <a href="/contact" 
                    title="Contact Us"
                    class="link--capbold"
                    target="_blank" 
                    data-tracking-category="WNYC Menu"
                    data-tracking-action="Clicked Contact Us">
                    Contact Us
                  </a>
                </li>
                <li class="list-item list-item--tiny">
                  <a href="http://www.nypublicradio.org/underwriting/wnyc" 
                    title="Become a Sponsor"
                    class="link--capbold" 
                    data-tracking-category="WNYC Menu"
                    data-tracking-action="Clicked Become a Sponsor">
                    Become a Sponsor
                  </a>
                </li>
                <li class="list-item list-item--tiny">
                 <a href="/careers" 
                    title="Careers"
                    class="link--capbold" 
                    data-tracking-category="WNYC Menu"
                    data-tracking-action="Clicked Careers">
                    Careers
                  </a>                  
                </li>
                <li class="list-item list-item--tiny">
                  <a href="/press" 
                    title="Press"
                    class="link--capbold" 
                    data-tracking-category="WNYC Menu"
                    data-tracking-action="Clicked Press">
                    Press
                  </a>
                </li>
                <li class="list-item list-item--tiny">
                  <a href="/feedback" 
                    title="Give Us Feedback"
                    class="link--capbold"
                    target="_blank"  
                    data-tracking-category="WNYC Menu"
                    data-tracking-action="Clicked Give Us Feedback">
                    Give Us Feedback
                  </a>
                </li>
              </ul>
            </div>
          <!-- .align -->
          </nav>
          <!-- .l-col1of2 -->

          {{#if media.isMiddleNarrowAndUp}}
          <nav class="l-col1of2">
            <h2 class="text--normal h2 medium-up">
              Social
            </h2>
            <!-- .h2 -->
            <ul class="list list--noborder align--mq-centertoleft">
              <li class="list-item list-item--tiny">
                <a href="http://www.facebook.com/wnyc" class="link--capbold" title="Facebook" target="_blank" data-tracking-category="WNYC Menu" data-tracking-action="Clicked Facebook">
                  <i class="fa fa-facebook"></i>
                  <span>Facebook</span>
                </a>
              </li>
              <li class="list-item list-item--tiny">
                <a href="http://www.twitter.com/wnyc" class="link--capbold" title="Twitter" target="_blank" data-tracking-category="WNYC Menu" data-tracking-action="Clicked Twitter">
                  <i class="fa fa-twitter"></i>
                  <span>Twitter</span>
                </a>
              </li>
              <li class="list-item list-item--tiny">
                <a href="https://twitter.com/WNYC/lists/wnyc-shows/members" class="link--capbold" title="Twitter" target="_blank" data-tracking-category="WNYC Menu" data-tracking-action="Clicked Our Shows">
                  <i class="fa fa-twitter"></i>
                  <span>Our Shows</span>
                </a>
              </li>
              <li class="list-item list-item--tiny">
                <a href="https://twitter.com/WNYC/lists/wnyc-people/members" class="link--capbold" title="Twitter" target="_blank" data-tracking-category="WNYC Menu" data-tracking-action="Clicked Our People">
                  <i class="fa fa-twitter"></i>
                  <span>Our People</span>
                </a>
              </li>
              <li class="list-item list-item--tiny">
                <a href="https://www.instagram.com/wnyc" class="link--capbold" title="Instagram" target="_blank" data-tracking-category="WNYC Menu" data-tracking-action="Clicked Instagram">
                  <i class="fa fa-instagram"></i> 
                  <span>Instagram</span>
                </a>
              </li>
              <li class="list-item list-item--tiny">
                <a href="https://www.snapchat.com/add/wnycradio" class="link--capbold" title="Snapchat" target="_blank" data-tracking-category="WNYC Menu" data-tracking-action="Clicked Snapchat">
                  <i class="fa fa-snapchat-ghost"></i>
                  <span>Snapchat</span>
                </a>
              </li>
              <li class="list-item list-item--tiny">
                <a href="https://www.youtube.com/user/wnycradio" class="link--capbold" title="YouTube" target="_blank" data-tracking-category="WNYC Menu" data-tracking-action="Clicked YouTube">
                  <i class="fa fa-youtube"></i>
                  <span>YouTube</span>
                </a>
              </li>
              <li class="list-item list-item--tiny">
                <a href="http://wnyc.tumblr.com" class="link--capbold" title="Tumblr" target="_blank" data-tracking-category="WNYC Menu" data-tracking-action="Clicked Tumblr">
                  <i class="fa fa-tumblr"></i>
                  <span>Tumblr</span>
                </a>
              </li>
            </ul>
          </nav>
          <!-- .l-col1of2 -->
          {{/if}}
        </div>
        <!-- .l-flex1of2 -->
        <!-- inside wnyc/social -->
      </div>
      <!-- .l-flexgrid -->
    </div>
    <!-- .l-constrained -->
  </div>
  <!-- .l-highlight -->

  <div class="l-highlight--gray pad-persistent-player">
    <div class="l-constrained l-constrained--shrink">
      <div class="box--topborder box--flexpadtop">

        <div class="l-full">
          <nav class="l-col1of2 align--mq-centertoleft">
            <ul class="list list--noborder flush {{if media.isMiddleNarrowAndUp 'list--flex' 'list--inline'}}">
              <li class="list-item list-item--tiny">
                <h1 class="h5 inline text--upper">Our Sites:</h1>
              </li>
              <li class="list-item list-item--tiny">
                <a class="link--capbold" href="http://www.wqxr.org" title="WQXR" target="_blank" data-tracking-category="WNYC Menu" data-tracking-action="Clicked WQXR">WQXR</a>
              </li>
              <li class="list-item list-item--tiny">
                <a class="link--capbold" href="http://www.njpublicradio.org/" title="NJPR" target="_blank" data-tracking-category="WNYC Menu" data-tracking-action="Clicked NJPR">NJPR</a>
              </li>
              <li class="list-item list-item--tiny">
                <a class="link--capbold" href="http://www.thegreenespace.org" title="The Greene Space" target="_blank" data-tracking-category="WNYC Menu" data-tracking-action="Clicked The Greene Space">The Greene Space</a>
              </li>
              <li class="list-item list-item--tiny">
                <a class="link--capbold" href="http://www.wnycstudios.org" title="WNYC Studios" target="_blank" data-tracking-category="WNYC Menu" data-tracking-action="Clicked WNYC Studios">WNYC Studios</a>
              </li>
            </ul>
          </nav>
          <!-- .l-col1of2 -->
        </div>
        <!-- .l-full -->

      </div>
      <!-- .box -->
    </div>
    <!-- .l-constrained -->

    {{#unless media.isMiddleNarrowAndUp}}
    <nav class="box--flexpadtop box--topborder">
      <div class="l-constrained">
        <h2 class="for-screenreaders">Social</h2>
        <ul class="list list--noborder list--flex aligncenter flush">
          <li class="list-item list-item--tiny">
            <a href="http://www.facebook.com/wnyc" title="Facebook" target="_blank" data-tracking-category="WNYC Menu" data-tracking-action="Clicked Facebook">
                <i class="fa fa-facebook fa-2x"></i>
            </a>
          </li>
          <li class="list-item list-item--tiny">
            <a href="http://www.twitter.com/wnyc" title="Twitter" target="_blank" data-tracking-category="WNYC Menu" data-tracking-action="Clicked Twitter">
                <i class="fa fa-twitter fa-2x"></i>
            </a>
          </li>
          <li class="list-item list-item--tiny">
            <a href="https://www.instagram.com/wnyc" title="Instagram" target="_blank" data-tracking-category="WNYC Menu" data-tracking-action="Clicked Instagram">
                <i class="fa fa-instagram fa-2x"></i>
            </a>
          </li>
          <li class="list-item list-item--tiny">
            <a href="https://www.snapchat.com/add/wnycradio" title="Snapchat" target="_blank" data-tracking-category="WNYC Menu" data-tracking-action="Clicked Snapchat">
                <i class="fa fa-snapchat-ghost fa-2x"></i>
            </a>
          </li>
          <li class="list-item list-item--tiny">
            <a href="https://www.youtube.com/user/wnycradio" title="YouTube" target="_blank" data-tracking-category="WNYC Menu" data-tracking-action="Clicked YouTube">
                <i class="fa fa-youtube fa-2x"></i>
            </a>
          </li>
          <li class="list-item list-item--tiny">
            <a href="http://wnyc.tumblr.com" title="Tumblr" target="_blank" data-tracking-category="WNYC Menu" data-tracking-action="Clicked Tumblr">
                <i class="fa fa-tumblr fa-2x"></i>
            </a>
          </li>
        </ul>
      </div>
      <!-- .l-constrained -->
    </nav>
    <!-- .box -->
    {{/unless}}

    <div class="l-constrained l-constrained--shrink">
      <div class="box--topborder box--flexpadtop">
        <div class="l-full">
          <div class="l-col2of3">
            <nav class="align--mq-centertoleft">
              <div class="for-screenreaders">
                <h2>Legal Nav</h2>
              </div>
              <ul class="list list--noborder flush {{if media.isMiddleNarrowAndUp 'list--flex'}}">
                <li class="list-item list-item--tiny">
                  <a href="http://www.newyorkpublicradio.org" class="link--capbold" data-tracking-category="WNYC Menu" data-tracking-action="Clicked Copyright">&copy; {{moment-format (now) 'YYYY'}} New York Public Radio</a>
                </li>
                <li class="list-item list-item--tiny">
                  <a href="/terms/" class="link--capbold" title="Terms of Use" data-tracking-category="WNYC Menu" data-tracking-action="Clicked Terms of Use">Terms of Use</a>
                </li>
                <li class="list-item list-item--tiny">
                  <a href="/privacy/" class="link--capbold" title="Privacy Policy" data-tracking-category="WNYC Menu" data-tracking-action="Clicked Privacy Policy">Privacy Policy</a>
                </li>
                <li class="list-item list-item--tiny">
                  <a href="/corrections/" class="link--capbold" title="Corrections" data-tracking-category="WNYC Menu" data-tracking-action="Clicked Corrections">Corrections</a>
                </li>
                <li class="list-item list-item--tiny">
                  <a href="/articles/wnyc-contest-rules" class="link--capbold" title="Contest Rules" data-tracking-category="WNYC Menu" data-tracking-action="Clicked Contest Rules">Contest Rules</a>
                </li>
              </ul>
            </nav>
            <!-- .align -->
          </div>
          <div class="l-col1of3 middle-narrow-up">
            <div class="text--small {{if media.isMediumAndUp 'alignright' 'aligncenter'}}">
              <span class="text--spacing">WNYC is supported by <img class="icon--jlgreene--footer" src="http://www.wnyc.org/i/raw/1/wnyc-footer.png"></span>
            </div>
          </div>
        </div>


      </div>
      <!-- .box -->
    </div>
    <!-- .l-constrained -->
  </div>
  <!-- .l-highlight -->
</footer>
