{{!--
  Using <a> tags here instead of ember {{link-to}} helpers in order to run google analytics tracking events on the links. Global link handler catches clicks on links with data-tracking properties and runs an event tracking function before routing the link. More in /wqxr-web-client/app/instance-initializers/link-handler.js
--}}

<footer class="l-full flush sitechrome-footer" id="footer">
  <div class="for-screenreaders">
    <h1>Document Footer</h1>
  </div>

  <div class="l-highlight--black {{if media.isMiddleNarrowAndUp 'l-padtop--double'}}">
    <div class="l-constrained">
      <div class="l-flexgrid">
        <nav class="l-flex1of3">
          <div class="l-unconstrained {{if media.isMiddleNarrowAndUp 'flush'}}">
            <div class="l-highlight--black {{unless media.isMiddleNarrowAndUp 'l-padtop'}}">
              <div class="l-constrained">
                <div class="align--mq-centertoleft">
                  <h2 class="text--normal text--white h2">
                    {{nypr-svg icon='wqxr-logo' className='icon--wqxr-logo-footer'}}
                  </h2>

                  <div class="text text--medium">
                    <div class="text-body text-body--rightpad2x">
                      <p>Listener-supported WNYC is the home for independent journalism and courageous conversation on air and online. Broadcasting live from New York City on 93.9 FM and AM 820 and available online and on the go.</p>
                    </div>
                  </div>
                 
                  <div class="text text--medium">
                    <div class="text-body text-body--rightpad2x text--lightgray">
                      <p>WQXR is supported by <br/> <img class="icon--jlgreene--footer" src="http://www.wnyc.org/i/raw/1/wnyc-footer.png"></p>
                    </div>
                  </div>

                  <ul class="list list--noborder list--flex flush">
                    <li class="list-item list-item--tiny">
                      <a href="/terms/" title="Terms of Use" data-tracking-category="WQXR Menu" data-tracking-action="Clicked Terms of Use">Terms of Use</a>
                    </li>
                    <li class="list-item list-item--tiny">
                      <a href="/privacy/" title="Privacy" data-tracking-category="WQXR Menu" data-tracking-action="Clicked Privacy">Privacy</a>
                    </li>
                  </ul>

                </div>
                <!-- .align-mq -->
              </div>
              <!-- .l-constrained -->
            </div>
            <!-- .l-highlight -->
          </div>
          <!-- .l-unconstrained -->

          
        </nav>
        <!-- .l-flex1of2 About WNYC -->

        <div class="l-flex2of3">
          <nav class="l-col1of3">
            <div class="align--mq-centertoleft">
              <h2 class="{{if media.isMiddleNarrowAndUp 'h2 text--normal' 'text--red text--upper text--spacing h5 nudge'}}">
                WQXR
              </h2>
              <ul class="list list--noborder align--mq-centertoleft">
                <li class="list-item list-item--tiny">
                  <a href="/playlist-daily" title="Playlists" data-tracking-category="WQXR Menu" data-tracking-action="Clicked Playlists">Playlists</a>
                </li>
                <li class="list-item list-item--tiny">
                  <a href="/schedule/" title="Schedule" data-tracking-category="WQXR Menu" data-tracking-action="Clicked Schedule">Schedule</a>
                </li>
                <li class="list-item list-item--tiny">
                  <a href="/programs/" title="Programs" data-tracking-category="WQXR Menu" data-tracking-action="Clicked Programs">Programs</a>
                </li>
                <li class="list-item list-item--tiny">
                  <a href="/hosts/" title="Hosts" data-tracking-category="WQXR Menu" data-tracking-action="Clicked Hosts">Hosts</a>
                </li>
                <li class="list-item list-item--tiny">
                  <a href="/articles/wqxr-features/" title="Featured Articles" data-tracking-category="WQXR Menu" data-tracking-action="Clicked Featured Articles">Featured Articles</a>
                </li>
                <li class="list-item list-item--tiny">
                  <a href="/series/cafe-concerts/" title="Cafe Concerts" data-tracking-category="WQXR Menu" data-tracking-action="Clicked Cafe Concerts">Cafe Concerts</a>
                </li>
                <li class="list-item list-item--tiny">
                  <a href="/articles/conducting-business/" title="Conducting Business" data-tracking-category="WQXR Menu" data-tracking-action="Clicked Conducting Business">Conducting Business</a>
                </li>
                <li class="list-item list-item--tiny">
                  <a href="/blogs/wqxr-blog/" title="News Blog" data-tracking-category="WQXR Menu" data-tracking-action="Clicked News Blog">News Blog</a>
                </li>
                <li class="list-item list-item--tiny">
                  <a href="/blogs/operavore/" title="Operavore" data-tracking-category="WQXR Menu" data-tracking-action="Clicked Operavore">Operavore</a>
                </li>
              </ul>
            </div>
          <!-- .align -->
          </nav>
          <!-- .l-col1of3 -->

         
          <nav class="l-col1of3">
            <div class="align--mq-centertoleft">
              <h2 class="{{if media.isMiddleNarrowAndUp 'h2 text--normal' 'text--red text--upper text--spacing h5 nudge'}}">
                Q2 Music
              </h2>
              <!-- .h2 -->
              <ul class="list list--noborder align--mq-centertoleft">

                <li class="list-item list-item--tiny">
                  <a href="/series/q2/" title="Homepage" data-tracking-category="WQXR Menu" data-tracking-action="Clicked Homepage">Homepage</a>
                </li>
                <li class="list-item list-item--tiny">
                  <a href="/playlist-daily/?scheduleStation=q2" title="Schedule &amp; Playlists" data-tracking-category="WQXR Menu" data-tracking-action="Clicked Schedule &amp; Playlists">Schedule &amp; Playlists</a>
                </li>
                <li class="list-item list-item--tiny">
                  <a href="/programs/meet-composer/" title="Meet the Composer" data-tracking-category="WQXR Menu" data-tracking-action="Clicked Meet the Composer">Meet the Composer</a>
                </li>
                <li class="list-item list-item--tiny">
                  <a href="/programs/lprlive/" title="LPR Live" data-tracking-category="WQXR Menu" data-tracking-action="Clicked LPR Live">LPR Live</a>
                </li>
                <li class="list-item list-item--tiny">
                  <a href="/programs/newyorknow/" title="On-Demand Concerts" data-tracking-category="WQXR Menu" data-tracking-action="Clicked On-Demand Concerts">On-Demand Concerts</a>
                </li>
                <li class="list-item list-item--tiny">
                  <a href="/story/458-say-hello-q2/" title="About" data-tracking-category="WQXR Menu" data-tracking-action="Clicked About">About</a>
                </li>

              </ul>
            </div>
          <!-- .align -->
          </nav>
          <!-- .l-col1of3 -->


          <nav class="l-col1of3">
            <div class="align--mq-centertoleft">
              <h2 class="{{if media.isMiddleNarrowAndUp 'h2 text--normal' 'text--red text--upper text--spacing h5 nudge'}}">
                About Us
              </h2>
              <!-- .h2 -->
              <ul class="list list--noborder align--mq-centertoleft">

                <li class="list-item list-item--tiny">
                  <a href="/mobile/promotion/" title="Mobile Apps" data-tracking-category="WQXR Menu" data-tracking-action="Clicked Mobile Apps">Mobile Apps</a>
                </li>
                <li class="list-item list-item--tiny">
                  <a href="/support/" title="" data-tracking-category="WQXR Menu" data-tracking-action="Clicked Support WQXR">Support WQXR</a>
                </li>
                <li class="list-item list-item--tiny">
                  <a href="/about/" title="About WQXR" data-tracking-category="WQXR Menu" data-tracking-action="Clicked About WQXR">About WQXR</a>
                </li>
                <li class="list-item list-item--tiny">
                  <a href="/contact/" title="Contact Us" data-tracking-category="WQXR Menu" data-tracking-action="Clicked Contact Us">Contact Us</a>
                </li>
                <li class="list-item list-item--tiny">
                  <a href="/press/" title="Press" data-tracking-category="WQXR Menu" data-tracking-action="Clicked Press">Press</a>
                </li>
                <li class="list-item list-item--tiny">
                  <a href="/careers/" title="Jobs" data-tracking-category="WQXR Menu" data-tracking-action="Clicked obs">Jobs</a>
                </li>
                <li class="list-item list-item--tiny">
                  <a href="/underwriting/" title="Underwriting" data-tracking-category="WQXR Menu" data-tracking-action="Clicked Underwriting">Underwriting</a>
                </li>
                <li class="list-item list-item--tiny">
                  <a href="http://www.wnyc.org/outreach/cab/" title="Community Advisory Board" data-tracking-category="WQXR Menu" data-tracking-action="Clicked Community Advisory Board">Community Advisory Board</a>
                </li>
                <li class="list-item list-item--tiny">
                  <a href="http://nypublicradio.org/" title="NY Public Radio" data-tracking-category="WQXR Menu" data-tracking-action="Clicked NY Public Radio">NY Public Radio</a>
                </li>
                <li class="list-item list-item--tiny">
                  <a href="/articles/wqxr-and-q2-music-contest-rules/" title="Contest Rules" data-tracking-category="WQXR Menu" data-tracking-action="Clicked Contest Rules">Contest Rules</a>
                </li>
              </ul>
            </div>
          <!-- .align -->
          </nav>
          <!-- .l-col1of3 -->


        </div>
        <!-- .l-flex1of2 -->
        <!-- inside wnyc/social -->
      </div>
      <!-- .l-flexgrid -->
    </div>
    <!-- .l-constrained -->
  </div>
  <!-- .l-highlight -->

  <div class="l-highlight--black pad-persistent-player">

    <div class="l-constrained l-constrained--shrink">
      <div class="box--topborder box--flexpadtop">
        <div class="l-full">
        <ul class="list list--noborder list--flex aligncenter flush">
          <li class="list-item list-item--tiny">
            <h2 class="h2 inline">Connect</h2>
          </li>
          <li class="list-item list-item--tiny">
              <a href="http://www.facebook.com/WQXRClassical" title="Facebook" target="_blank" data-tracking-category="WQXR Menu" data-tracking-action="Clicked Facebook">
                <i class="fa fa-facebook"></i>
                <span>Facebook</span>
              </a>
            </li>
            <li class="list-item list-item--tiny">
              <a href="http://www.twitter.com/WQXR" title="Twitter" target="_blank" data-tracking-category="WQXR Menu" data-tracking-action="Clicked Twitter">
                <i class="fa fa-twitter"></i>
                <span>Twitter</span>
              </a>
            </li>
            <li class="list-item list-item--tiny">
              <a href="https://www.instagram.com/wqxr_classical/" title="Instagram" target="_blank" data-tracking-category="WQXR Menu" data-tracking-action="Clicked Instagram">
                <i class="fa fa-instagram"></i> 
                <span>Instagram</span>
              </a>
            </li>
            <li class="list-item list-item--tiny">
              <a href="http://www.youtube.com/user/WQXRClassical" title="YouTube" target="_blank" data-tracking-category="WQXR Menu" data-tracking-action="Clicked YouTube">
                <i class="fa fa-youtube"></i>
                <span>YouTube</span>
              </a>
            </li>
            <li class="list-item list-item--tiny">
              <a href="http://tunein.com/radio/stations/WNYC-Radio-Stations-a38278/" title="Tune In" target="_blank" data-tracking-category="WQXR Menu" data-tracking-action="Clicked Tune In">
                <i class="fa fa-tunein"></i>
                <span>Tune In</span>
              </a>
            </li>
            <li class="list-item list-item--tiny">
              <a href="/feeds/all/" title="RSS" target="_blank" data-tracking-category="WQXR Menu" data-tracking-action="Clicked RSS">
                <i class="fa fa-rss"></i>
                <span>Rss</span>
              </a>
            </li>
        </ul>
     </div>
        <!-- .l-full -->
      </div>
      <!-- .box -->
    </div>
      <!-- .l-constrained -->

  </div>
  <!-- .l-highlight -->
</footer>
