{{dfp-ad
  slotClassNames="is-collapsed l-constrained aligncenter leaderboard"
  slot="/6483581/leaderboard/wqxr_leaderboard"
  target="leaderboard"
  mapping=(array (array 0 (array 300 50)) (array 758 (array 728 90)) (array 1203 (array 970 415)))
  sizes=(array (array 970 415) (array 728 90) (array 300 50))}}

<div class="l-full {{if model.story.interactiveTemplate 'story--interactive'}}">
  <div class="l-constrained">

    <main class="{{unless model.story.interactiveTemplate 'l-col2of3'}}" id="main" role="main">
      <article class="doubledown" data-status="{{if model.story.futureArticle model.story.publishStatus}}" data-date="{{moment-format model.story.publishAt 'MMM D, Y'}}">

        <header class="l-bgimg {{if model.story.flushHeader 'flush'}}" id="storyHeader">

          {{#if model.story.mainImageEligible}}
          <style>
              .l-bgimg:after {
                  background-image: url({{image-template model.story.imageMain.template 800 0 model.story.imageMain.crop}});
              }
              .no-filter .l-bgimg:after {
                  background-image: none;
              }
          </style>
          {{/if}}

          {{#nypr-story/header-content story=model.story isStaff=session.data.isStaff adminURL=model.adminURL as |header|}}
            {{#if (and model.story.audioMayStream model.story.audioEventually)}}
              {{#if model.story.audioAvailable}}
                {{#header.buttons}}
                  {{#listen-button
                    type='blue-boss'
                    playContext="story-header"
                    itemPK=model.story.slug
                    itemTitle=model.story.title
                    itemShow=(or model.story.showTitle model.story.headers.brand.title)}}
                    Listen <span class="text--small dimmed">{{model.story.audioDurationReadable}}</span>
                  {{/listen-button}}

                  {{#if (or model.story.audioMayDownload model.story.audioMayEmbed)}}
                    {{nypr-story/audio-options story=model.story}}
                  {{/if}}
                {{/header.buttons}}
              {{else}}
                {{header.message}}
              {{/if}}
            {{/if}}

            {{header.share story=model.story via='WQXR' classNames='story-share-buttons'}}

          {{/nypr-story/header-content}}

        </header>
        <!-- .l-bgimg -->

        {{#if model.story.segments}}
          {{#nypr-story/segments
            segments=model.story.segments
            segmentCount=model.story.segments.length
            flush=model.story.mainImageEligible as |row|}}
            {{#if (and row.segment.audioMayStream row.segment.audioEventually)}}
              {{#if row.segment.audioAvailable}}
                {{#row.buttons}}
                  <div class="btn-group">
                  {{listen-button
                    playContext="story-list"
                    itemPK=row.segment.slug
                    itemTitle=row.segment.title
                    itemShow=(or model.story.showTitle model.story.headers.brand.title)
                    type="blue-circle"}}
                  </div>
                {{/row.buttons}}
              {{else}}
                {{row.message}}
              {{/if}}
            {{/if}}
          {{/nypr-story/segments}}
        {{/if}}

        {{#if model.story.videoTemplate}}
          {{{model.story.video}}}
        {{/if}}

        {{#if model.story.mainImageEligible}}
          {{nypr-story/main-image image=model.story.imageMain}}
        {{/if}}

        {{nypr-story/byline
          newsdate=model.story.newsdate
          authors=model.story.appearances.authors
          producingOrganizations=model.story.producingOrganizations
          sourceUrl=model.story.sourceUrl}}

        {{#nypr-story/body-transcript transcript=model.story.transcript selection=tab}}
          <section class="text">
            {{django-page page=model.story.bodyDjango}}
          </section>

          {{#if model.story.playlist}}
            {{nypr-story/playlist playlist=model.story.playlist}}
          {{/if}}

          {{#if model.story.slideshow}}
            {{nypr-story/slideshow slideshow=model.story.slideshow}}
          {{/if}}

          {{#unless model.story.videoTemplate}}
            {{{model.story.video}}}
          {{/unless}}

        {{/nypr-story/body-transcript}}


        {{#if model.story.correctionText}}
          <em>{{{model.story.correctionText}}}</em>
        {{/if}}

        {{#if model.story.enableComments}}
            {{story-comments story=model.story
                             isStaff=session.data.isStaff
                             email=user.email
                             userName=(or session.data.staffName user.preferredUsername)
                             getComments=model.getComments
                             browserId=session.data.browserId
                             class=(if model.story.interactiveTemplate 'l-medium')
                             onShowComments=(action 'onShowComments')
                           }}
        {{/if}}
      </article>
    </main>
    <!-- .l-col2of3 -->

  {{#unless model.story.interactiveTemplate}}
    <aside class="l-col1of3" id="chunks">
      <div class="l-skinny">
        {{#if model.story.pageChunks.siteSidebarTop}}
          {{django-page page=model.story.pageChunks.siteSidebarTop}}
        {{/if}}

        {{#if (and model.story.headers.brand.title model.story.showTease)}}
          {{#nypr-story/show-sidebar-top
            podcasts=model.story.podcastLinks
            showProducingOrgs=model.story.showProducingOrgs
            showTease=model.story.showTease
            showName=model.story.headers.brand.title
            donateButton=model.story.chunks.showSidebarTop}}
            {{#if model.story.pageChunks.showSidebarTop}}
              {{django-page page=model.story.pageChunks.showSidebarTop}}
            {{/if}}
          {{/nypr-story/show-sidebar-top}}
        {{/if}}

        {{#if model.story.pageChunks.channelSidebarTop}}
          {{django-page page=model.story.pageChunks.channelSidebarTop}}
        {{/if}}

        {{dfp-ad
          slotClassNames="align--mq-centertoright right-rail"
          slot="/6483581/rectangle/wqxr_rectangle"
          target="rightRail"
          sizes=(array (array 300 250) (array 300 600))}}


        {{#if model.story.pageChunks.siteSidebarBottom}}
          {{django-page page=model.story.pageChunks.siteSidebarBottom}}
        {{/if}}

        {{#if model.story.pageChunks.showSidebarBottom}}
          {{django-page page=model.story.pageChunks.showSidebarBottom}}
        {{/if}}

        {{#if model.story.pageChunks.channelSidebarBottom}}
          {{django-page page=model.story.pageChunks.channelSidebarBottom}}
        {{/if}}
      </div>
    </aside>
  {{/unless}}


  </div>
  <!-- .l-constrained -->

  <div class="{{if model.story.interactiveTemplate 'l-medium' 'l-constrained'}}">
    <div class="{{unless model.story.interactiveTemplate 'l-col2of3'}}">

      {{#if model.story.series}}
        {{nypr-story/series series=model.story.series}}
      {{/if}}

      {{#if model.story.pageChunks.story}}
        <div id="story-chunk">
          {{django-page page=model.story.pageChunks.story}}
        </div>
      {{/if}}

      {{related-stories getStories=model.getRelatedStories}}

    </div>
    <!-- .l-col2of3 -->
  </div>
  <!-- .l-constrained -->
</div>
<!-- .l-full -->
