{{dfp-ad
  slotClassNames="is-collapsed l-constrained aligncenter leaderboard"
  slot="/6483581/leaderboard/wqxr_leaderboard"
  target="leaderboard"
  mapping=(array (array 0 (array 350 50)) (array 758 (array 728 90)) (array 1203 (array 970 415)))
  sizes=(array (array 970 415) (array 728 90) (array 350 50))}}

<div class="l-full {{if model.story.interactiveTemplate 'story--interactive'}}">
  <div class="l-constrained">
    
    <main class="{{unless model.story.interactiveTemplate 'l-col2of3'}}" id="main" role="main">
      <article class="doubledown" data-status="{{model.story.extendedStory.publishStatus}}" data-date="{{moment-format model.story.extendedStory.publishAt '%b %-d, %Y'}}">

        <header class="l-bgimg {{if model.story.flushHeader 'flush'}}" id="storyHeader">

          {{#if model.story.mainImageEligible}}
          <style>
              .l-bgimg:after {
                  background-image: url({{image-template model.story.imageMain.template 800 0 model.story.imageMain.crop}});
              }
              .no-filter .l-bgimg:after {
                  background-image: none;
              }
          </style>
          {{/if}}

          {{nypr-story/header-content story=model.story audio=audio isStaff=session.data.isStaff adminUrl=model.adminURL}}

        </header>
        <!-- .l-bgimg -->

        {{#if model.story.extendedStory.segments}}
          {{nypr-story/segments segments=model.story.extendedStory.segments segmentCount=model.story.extendedStory.segmentCount audio=audio flush=model.story.mainImageEligible}}
        {{/if}}

        {{#if model.story.videoTemplate}}
          {{{model.story.extendedStory.video}}}
        {{/if}}

        {{#if model.story.mainImageEligible}}
          {{nypr-story/main-image image=model.story.imageMain}} 
        {{/if}}

        {{nypr-story/byline 
          dateLineDatetime=model.story.dateLineDatetime 
          authors=model.story.extendedStory.appearances.authors 
          producingOrganizations=model.story.extendedStory.producingOrganizations
          sourceUrl=model.story.extendedStory.sourceUrl}}
   
        {{!-- body components are yielded with or without tabs depending if transcript exists --}}
        {{#nypr-story/body-transcript transcript=model.story.extendedStory.transcript as |body|}}
          <section class="text">
            {{django-page page=model.story.body}}
          </section>

          {{#if model.story.extendedStory.playlist}}
            {{nypr-story/playlist playlist=model.story.extendedStory.playlist}}
          {{/if}}

          {{#if model.story.extendedStory.slideshow}}
            {{nypr-story/slideshow slideshow=model.story.extendedStory.slideshow}}
          {{/if}}

          {{#unless model.storyVideoTemplate}}
            {{{story.extendedStory.video}}}
          {{/unless}}

        {{/nypr-story/body-transcript}} 


        {{#if model.story.extendedStory.correctionText}}
          <em>{{{model.story.extendedStory.correctionText}}}</em>
        {{/if}}

        {{#if model.story.commentsEnabled}}
            {{story-comments story=model.story
                             isStaff=session.data.isStaff
                             email=user.email
                             userName=(or session.data.staffName user.preferredUsername)
                             getComments=model.getComments
                             browserId=session.data.browserId
                             class=(if model.story.interactiveTemplate 'l-medium')
                           }}
        {{/if}}
      </article>
    </main>
    <!-- .l-col2of3 -->

  {{#unless model.story.interactiveTemplate}}
    <aside class="l-col1of3" id="chunks">
      <div class="l-skinny">
        {{#if model.story.pageChunks.siteSidebarTop}}
          {{django-page page=model.story.pageChunks.siteSidebarTop}}
        {{/if}}

        {{#if model.story.pageChunks.showSidebarTop}}
          {{django-page page=model.story.pageChunks.showSidebarTop}}
        {{/if}}

        {{#if model.story.pageChunks.channelSidebarTop}}
          {{django-page page=model.story.pageChunks.channelSidebarTop}}
        {{/if}}

        {{dfp-ad
          slotClassNames="align--mq-centertoright right-rail"
          slot="/6483581/rectangle/wqxr_rectangle"
          target="rightRail"
          sizes=(array (array 300 250) (array 300 600))}}


        {{#if model.story.pageChunks.siteSidebarBottom}}
          {{django-page page=model.story.pageChunks.siteSidebarBottom}}
        {{/if}}

        {{#if model.story.pageChunks.showSidebarBottom}}
          {{django-page page=model.story.pageChunks.showSidebarBottom}}
        {{/if}}

        {{#if model.story.pageChunks.channelSidebarBottom}}
          {{django-page page=model.story.pageChunks.channelSidebarBottom}}
        {{/if}}
      </div>
    </aside>
  {{/unless}}

   
  </div>
  <!-- .l-constrained -->

  <div class="{{if model.story.interactiveTemplate 'l-medium' 'l-constrained'}}">
    <div class="{{unless model.story.interactiveTemplate 'l-col2of3'}}">

      {{#if model.story.extendedStory.series}}
        {{nypr-story/series series=model.story.extendedStory.series}}
      {{/if}}

      {{#if model.story.pageChunks.story}}
        <div id="story-chunk">
          {{django-page page=model.story.pageChunks.story}}
        </div>
      {{/if}}

      {{related-stories getStories=model.getRelatedStories}}

    </div>
    <!-- .l-col2of3 -->
  </div>
  <!-- .l-constrained -->
</div>
<!-- .l-full -->


