<div class="l-constrained">
  <div class="l-flexrow--mqmd">
    <div class="l-col2of3">
      <div class="flag">
        {{#if model.logoImage}}
        <div class="flag-image channel-logo {{if model.hasMarquee 'flag-image--squeeze'}}">
          <img class="badge squarebadge badge--mq-tomed badge--shadow" alt={{model.logoImage.caption}}
              src={{image-template model.logoImage.template 129 129 model.logoImage.crop}}
              srcset="{{image-template model.logoImage.template 258 258 model.logoImage.crop}} 2x,
                  {{image-template model.logoImage.template 387 387 model.logoImage.crop}} 3x"
              width="129">
        </div>
        <!-- .flag-image -->
        {{/if}}

        <div class="flag-body">
         <div class="{{unless model.logoImage 'text--extrapadding'}}"> 
            <h1 id="channelTitle" class="h1 h1--mq-small channel-title">{{model.title}}</h1>
            <div class="text-body text--medium text-body--forceline text-body--nopad">
                {{#if model.producingOrganizations}}    
                    Produced by {{producing-orgs model.producingOrganizations}}.
                {{/if}}    
                {{airings}}
            </div>
          </div>
        </div>
        <!-- .flag-body -->
      </div>
    </div>
    <!-- .l-col2of3 -->

    <div class="l-col1of3 l-col--flex l-col--cv l-col--right">
      {{#if isStaff}}
        <a href="{{adminURL}}/{{model.editLink}}" class="btn btn--green" style="margin:auto;" target="_blank" data-test-selector="admin-link">Edit this</a>
      {{/if}}

      {{#if model.hasHeaderButtons}}
      <div class="btn-group btn-group--stacked">
        {{{model.donateChunk}}}

        {{#if model.hasSubscriptionLinks}}
          {{dropdown-menu items=model.podcastLinks}}
        {{/if}}
      </div>
      <!-- .btn-group -->
      {{/if}}
    </div> 
    <!-- .l-col1of3 -->
  </div>
  <!-- .l-flexrow -->
         
</div>
<!-- .l-constrained -->
