<ul class="stream-list">
{{#each streams as |stream|}}
{{#if stream.whatsOn}}

{{#holygrail-layout tagName='li' class='streamitem' as |g|}}
  {{#g.left}}
    <a class="streamitem-imagelink" href="{{stream.scheduleUrl}}"><img class="streamitem-image" src={{stream.imageLogo}}></a>
  {{/g.left}}

  {{#g.center class='streamitem-info'}}
    <h2 class="text text--semi nudge-mini">
      <a href="{{stream.scheduleUrl}}" class="link--dark">{{stream.name}}</a>
    </h2>
    <div class="text--medium">
      <a href="{{stream.currentShow.showUrl}}" class="link--dark">{{stream.currentShow.showTitle}}</a>
      {{!-- Has a current story/episode --}}
      {{#if stream.currentShow.episodeTitle}}
        -
        <a href="{{stream.currentShow.episodeUrl}}" class="link--dark">{{stream.currentShow.episodeTitle}}</a>
      {{/if}}
      {{!-- Music stream with a playing song--}}
      {{#if stream.hasPlaylists}}
      {{#if stream.currentPlaylistItem}}
        -
        <span class="streamitem-metadata">
          {{song-metadata stream.currentPlaylistItem.catalogEntry}}
        </span>
      {{/if}}
      {{/if}}
    </div>
  {{/g.center}}
  
  {{#g.right}}
    {{#if media.isMediumAndUp}}
      {{#listen-button
        type='gray-minion'
        state=(if (eq stream.slug currentAudio) playState)
        itemPK=stream.slug
        itemTitle=stream.name}}
        Listen Live
      {{/listen-button}}
    {{else}}
      {{listen-button
        type='blue-hollow'
        state=(if (eq stream.slug currentAudio) playState)
        itemPK=stream.slug
        itemTitle=stream.name}}
    {{/if}}
  {{/g.right}}
{{/holygrail-layout}}

{{/if}}
{{/each}}
</ul>
