{{title "Discover Playlist"}}

{{#discover-playlist stories=model.stories onRemoveItem='removeItem' onUpdateItems='updateItems' as |playlist|}}
  <div class="discover-playlist-header-content"> {{! for the flex layout shifts }}
    <h1 class="discover-playlist-header-title h1">Your Discover Playlist</h1>
    <h3 class="discover-playlist-header-subtitle text text--normal">Your playlist is customized to the shows and topics you choose.</h3>

    {{#if playlist.isNotStarted}}
      {{#playlist.button class="discover-playlist-header-button" icon='arrow-down' iconPlacement='right'}}
        Start Listening
      {{/playlist.button}}
    {{else}}
      {{#if playlist.isPaused}}
        {{#playlist.button class="discover-playlist-header-button" icon='play' iconPlacement='left'}}
          Continue Listening
        {{/playlist.button}}
      {{else}}
        {{#playlist.button class="discover-playlist-header-button" icon='pause' iconPlacement='left'}}
          Pause
        {{/playlist.button}}
      {{/if}}
    {{/if}}
  </div>
  <a href='/discover/edit'
     class="discover-edit-playlist-link"
     data-tracking-category='Discover'
     data-tracking-action='Clicked Edit in Discover'>
  {{#if isLoading}}
  {{animated-loading-icon
    width=34
    height=34
    outerScale=12
    innerScale=6
    radius=0.0025
    dotRadius=2
    lineWidth=2}}
  {{/if}}
    Edit My Shows & Topics
  </a>
{{/discover-playlist}}

<div class="discover-playlist-footer">
  {{#if findingMore}}
  {{animated-loading-icon
    width=34
    height=34
    outerScale=12
    innerScale=6
    radius=0.0025
    dotRadius=2
    lineWidth=2}}
  {{/if}}
  <button {{action (route-action 'findMore')}} class="discover-playlist-find-more rounded-caps-button mod-hollow-blue" disabled={{findingMore}}>
    Refresh Playlist
  </button>
</div>
{{#if noNewResults}}
  <div class="discover-playlist-no-results">
    <p>
      There are no more stories that match your selections. {{#link-to 'discover.edit'}}Edit topics and shows{{/link-to}}.
    </p>
    <p>Or check back tomorrow.</p>
  </div>
{{/if}}
