<div class="centennial-header">
    <h1 class="centennial-header_heading">
    <picture div class="centennial-header__hero">
        <source src="{{staticAssetPath}}img/100/hero-image-desktop-x1.jpg" srcset="{{staticAssetPath}}img/100/hero-image-desktop-x1.jpg 1224w, {{staticAssetPath}}img/100/hero-image-desktop-x2.jpg 2448w, {{staticAssetPath}}img/100/hero-image-desktop-x3.jpg 3672w" media="(min-width: 1025px)">
        <img src="{{staticAssetPath}}img/100/hero-image-responsive-x1.jpg" srcset="{{staticAssetPath}}img/100/hero-image-responsive-x1.jpg 375w, {{staticAssetPath}}img/100/hero-image-responsive-x2.jpg 750w, {{staticAssetPath}}img/100/hero-image-responsive-x3.jpg 1125w" alt="A Century of the New York Conversation">
    </picture>
    </h1>
    <div class="centennial-header__social util-centennial-lr-margins">
        {{nypr-social-icons title="Connect with us!" items=socialIcons}}
    </div>
</div>