{{#changeset-form
  changeset=changeset
  allowedKeys=allowedKeys
  onSubmit=(action 'onSubmit')
  onFailure=(action 'onFailure')
  formClass='account-form'
  as |form|
}}
  {{#if form.status.success}}
    {{account-thanks email=changeset.email}}
  {{else}}
    <h2 class="account-form-heading">Sign up for an account</h2>

    <div class="account-form-row">
      <div class="account-form-col2">
        {{fancy-input
          label='First Name'
          placeholder='Enter name'
          fieldname='given_name'
          value=changeset.givenName
          errors=changeset.error.givenName.validation
          submitted=submitTried
        }}
      </div>

      <div class="account-form-col2">
        {{fancy-input
          label='Last Name'
          placeholder='Enter name'
          fieldname='family_name'
          value=changeset.familyName
          errors=changeset.error.familyName.validation
          submitted=submitTried
        }}
      </div>
    </div>

    {{fancy-input
      label='Email'
      type='email'
      placeholder='you@email.com'
      fieldname='email'
      value=changeset.email
      errors=changeset.error.email.validation
      submitted=submitTried
    }}

    {{fancy-input
      label='Password'
      type='password'
      placeholder='Enter password'
      fieldname='typedPassword'
      value=changeset.typedPassword
      clue='Password must be 8 or more characters'
      errors=changeset.error.typedPassword.validation
      submitted=submitTried
    }}

    <div class="account-form-notice">
      By proceeding to create your account, you are agreeing to New York Public Radio’s <a href="/terms" target="_blank">Terms of Service</a> and <a href="/privacy" target="_blank">Privacy Policy</a>.
    </div>

    <button type="submit" class="account-form-btn" disabled={{form.status.processing}}>Sign Up</button>
  {{/if}}
{{/changeset-form}}
