<div class="flag flush {{if featuredSpot 'flag--luxe' 'flag--med'}}">

  {{#if show.logoImage.crop}}
     
      {{#if featuredSpot}}
      <a href="{{showUrl}}"
              class="flag-image link--nodecor"
              title="{{show.title}}"
              data-tracking-category='{{trackingCategory}}'
              data-tracking-action='Clicked Show "{{show.title}}"'
              data-tracking-label='clicked featured show'>
        <img src={{image-template show.logoImage.template 150 150 show.logoImage.crop}} class="squarebadge--lg" >
      </a>
      {{else}}
      <a href="{{showUrl}}"
              class="flag-image link--nodecor"
              title="{{show.title}}"
              data-tracking-category='{{trackingCategory}}'
              data-tracking-action='Clicked Show "{{show.title}}"'>
        <img src={{image-template show.logoImage.template 90 90 show.logoImage.crop}} class="squarebadge">
      </a>
      {{/if}}
   
  {{/if}}

  <div class="flag-body">
    <div class="text">
      {{#if featuredSpot}}

        {{#unless simpleLayout}}
          <h4 class="text--small text--lightgray text--spacing text--upper nudge medium-up">{{producing-orgs show.producingOrganizations unlinked=true}}</h4>
        {{/unless}}

        <h2 class="h1 h2--mq-small nudge text--white">
            <a href="{{showUrl}}"
              class="link--white"
              title="{{show.title}}"
              data-tracking-category='{{trackingCategory}}'
              data-tracking-action='Clicked Show "{{show.title}}"'
              data-tracking-label='clicked featured show'>{{show.title}}</a>
        </h2>
        
        {{#unless simpleLayout}}
          <div class="h3 text--white medium-up">
            {{{show.tease}}}
          </div>
        {{/unless}}

      {{else}}

        {{#unless simpleLayout}}
        <h4 class="text--small text--lightgray text--spacing text--upper nudge medium-up">{{producing-orgs show.producingOrganizations unlinked=true}}</h4>
        {{/unless}}

        <h2 class="h2 h2--mq-small nudge-mini">
          <a href="{{showUrl}}"
           title="{{show.title}}" 
           class="text-body--forceblock link--dark"
           data-tracking-category='{{trackingCategory}}'
           data-tracking-action='Clicked Show "{{show.title}}"'> 
           {{show.title}}</a>
        </h2>
        
        {{#unless simpleLayout}}
        <div class="text-body--nopad text--medium medium-up">{{{show.tease}}}</div>
        {{/unless}}

      {{/if}}
    </div>
  </div>
</div>
<!-- .flag -->
