<div class="flag flush {{if featuredSpot 'flag--luxe' 'flag--med'}}">

  {{#if show.logoImage.crop}}
    {{#link-to 'show' show.slug class="flag-image link--nodecor" }}
      {{#if featuredSpot}}
        <img src={{image-template show.logoImage.template 250 250 show.logoImage.crop}} class="squarebadge--lg" >
      {{else}}
        <img src={{image-template show.logoImage.template 135 135 show.logoImage.crop}} class="squarebadge">
      {{/if}}
    {{/link-to}}
  {{/if}}

  <div class="flag-body">
    <div class="text">
      {{#if featuredSpot}}

        <h4 class="text--small text--lightgray text--spacing text--upper nudge medium-up">{{producing-orgs show.producingOrganizations unlinked=true}}</h4>

        <h2 class="h1 h2--mq-small nudge text--white">{{#link-to 'show' show.slug class="link--white"}}{{show.title}}{{/link-to}}</h2>
        
        <div class="h3 text--white medium-up">
          {{{show.tease}}}
        </div>

      {{else}}

        <h4 class="text--small text--lightgray text--spacing text--upper nudge medium-up">{{producing-orgs show.producingOrganizations unlinked=true}}</h4>

        <h2 class="h2 h2--mq-small nudge">{{#link-to 'show' show.slug}}{{show.title}}{{/link-to}}</h2>
        
        <div class="text-body--nopad text--airy medium-up">{{{show.tease}}}</div>

      {{/if}}
    </div>
  </div>
</div>
<!-- .flag -->
