{{#if beta}}
  {{beta-trial
    enterBeta=(action 'enterBeta')
    onDismiss=(action 'dismissBeta')
    exitBeta=(action 'exitBeta')
    beta=beta}}
{{/if}}

{{!--
  Using double link-to in order to get an active class on the li tag
--}}

<div class="l-page" id='site-chrome'>
  <div class="sitechrome-top">
    <div class="sitechrome-topbody">
      {{#if beta.isBetaSite}}
        <div class="sitechrome-topbody-left" id="beta-nav" data-test-selector="beta-nav"></div>
      {{/if}}
      <div class="sitechrome-topbody-right">
          {{#if media.isLargeAndUp}}
          <div class="sitechrome-search">
            {{search-box placeholder="I heard something... Help me find it" enter=(action "routeSearch") searchbox-class="searchbox--chrome"}}
          </div>
          {{else}}
          <div>
            <h1>
              <span class="for-screenreaders">WNYC Navigation</span>
              <a href="/"
                class="link--nodecor"
                title="WNYC | New York Public Radio Home Page"
                data-tracking-category="WNYC Menu"
                data-tracking-action="Clicked WNYC Logo">
                {{wnyc-svg icon='logo-wnyc' className='icon--wnyc-logo-nav'}}
              </a>
            </h1>
          </div>
          {{/if}}

        <div>
          <div class="sitechrome-topright">
            {{#if headerDonateChunk}}
              {{{headerDonateChunk}}}
            {{else}}
              <a class="sitechrome-btn"
              href={{donateURL}}
              title="Donate"
              data-tracking-category="WNYC Menu"
              data-tracking-action="Clicked Donate Button"
              target="_blank">Donate</a>
            {{/if}}

            {{user-navigation isLoggedIn=session.isAuthenticated user=currentUser.user}}
          </div>
        </div>

      </div>
      <!-- .sitechrome-topbody-right -->
    </div>
    <!-- .sitechrome-topbody -->
  </div>
  <!-- .sitechrome-top -->

  <nav class="l-page-nav sitechrome-nav {{if isHomepage 'nav--homepage'}} {{unless media.isLargeAndUp 'x-scrollable'}}">
    {{#if media.isLargeAndUp}}
    <div class="sitechrome-corner">
      <h1>
        <span class="for-screenreaders">WNYC Navigation</span>
        <a href="/"
          class="link--nodecor"
          title="WNYC | New York Public Radio Home Page"
          data-tracking-category="WNYC Menu"
          data-tracking-action="Clicked WNYC Logo">
          {{wnyc-svg icon='logo-wnyc' className='icon--wnyc-logo-nav'}}
        </a>
      </h1>
    </div>
    {{/if}}
    <div class="scrollable-body">
      <div class="{{if media.isLargeAndUp 'box box--nopad'}}">

      <ul class="list list--noborder flush {{unless media.isLargeAndUp 'list--inline list--spaced text--small' 'alignright'}}">

        <li class="list-item list-item--nav">
          {{#if media.isLargeAndUp}}
            {{#listen-button
              type=(if isHomepage 'white-hollow-small' 'red-hollow-small')
              state=(if (eq preferredStream.slug audio.currentAudio.id) audio.playState)
              itemPK=preferredStream.slug
              itemTitle=preferredStream.name
              playContext='nav'
              class=(if media.isLargeAndUp 'stream-launcher')}}
              <span>Listen Live</span>
            {{/listen-button}}
          {{else}}
            {{!-- This 'button' is a top nav item that looks like a link. it doesn't show an icon to reflect state --}}
            {{!-- So clicking will always trigger a play action (and not a pause), state is locked to 'is-paused'  --}}
            {{#listen-button
              type='vanilla'
              state='is-paused'
              itemPK=preferredStream.slug
              itemTitle=preferredStream.name
              playContext='nav'}}
              <span>Listen Live</span>
            {{/listen-button}}
          {{/if}}
        </li>

        {{#link-to 'stream' tagName='li' href=false class="list-item list-item--nav"}}
          {{link-to 'All Streams' 'stream' class="inherit" preventDefault=false}}
        {{/link-to}}

        {{#link-to 'schedule' current-when="schedule.date" tagName='li' href=false class="list-item list-item--nav"}}
          {{link-to 'Schedule' 'schedule' class="inherit" preventDefault=false}}
        {{/link-to}}

        {{#link-to 'shows' current-when="shows show" tagName="li" href=false class="list-item list-item--nav"}}
          {{link-to 'Shows' 'shows' class="inherit" preventDefault=false}}
        {{/link-to}}

        {{#link-to 'topics' current-when='topics tag' tagName='li' href=false class="list-item list-item--nav"}}
          {{link-to 'Topics' 'topics' class="inherit" preventDefault=false}}
        {{/link-to}}

        {{#link-to 'discover.start' current-when="discover" tagName='li' href=false class="list-item list-item--nav"}}
          {{#link-to 'discover.start' class="inherit" preventDefault=false}}
            Discover
          {{/link-to}}
        {{/link-to}}

        {{#unless media.isLargeAndUp}}

          {{#link-to 'djangorendered' 'search/' tagName='li' href=false class="list-item list-item--nav"}}
            {{link-to 'Search' 'djangorendered' 'search/' class="inherit" preventDefault=false}}
          {{/link-to}}

          {{#if features.autoplayPrefs}}
            {{#link-to 'settings' tagName='li' href=false class="list-item list-item--nav"}}
              {{link-to 'Settings' 'settings' class="inherit" preventDefault=false}}
            {{/link-to}}
          {{/if}}

        {{/unless}}
      </ul>
    </div>
    <!-- .box -->
    </div>
    <!-- .x-scrollable-body -->

    {{#if media.isLargeAndUp}}
    <div class="l-bottom">
        <div class="box box--nopad">


          <ul class="list list--noborder flush alignright">
            {{!-- <div class="h5 text--heavy alignright"> --}}
            {{#if features.autoplayPrefs}}
              {{#link-to 'settings' tagName='li' href=false class="list-item list-item--nav"}}
                {{link-to 'Settings' 'settings' class="inherit" preventDefault=false}}
              {{/link-to}}
            {{/if}}
          </ul>
            {{!-- </div>
            <!-- .text --> --}}
        </div>
        <!-- .box -->
    </div>
    <!-- .l-bottom -->
    {{/if}}
  </nav>

  <div class="l-full sitechrome-page-content-area">

    {{yield}}

  </div>

  {{partial 'components/site-chrome/site-footer'}}

</div>
