{{!--
  Using double link-to in order to get an active class on the li tag
--}}
{{way-point on-up=(action (mut sticky) false) on-down=(action (mut sticky) true)}}

<div class="l-page" id='site-chrome'>
  <div class="sitechrome-top">
    <div class="sitechrome-topbody">
      <div class="sitechrome-topbody-right">
          {{#if media.isLargeAndUp}}
          <div class="sitechrome-search">
            {{search-box placeholder="I heard something... Help me find it" enter=(action "routeSearch") searchbox-class="searchbox--chrome"}}
          </div>
          {{else}}
          <div>
            <h1>
              <span class="for-screenreaders">WNYC Navigation</span>
              <a href="/"
                class="link--nodecor wnyc-logo-nav"
                title="WNYC | New York Public Radio Home Page">
                {{wnyc-svg icon='logo-wnyc' className='icon--wnyc-logo-nav'}}
              </a>
            </h1>
          </div>
          {{/if}}

        <div>
          <div class="sitechrome-topright">
            {{#if headerDonateChunk}}
              {{{headerDonateChunk}}}
            {{else}}
              <a class="sitechrome-btn gtm__click-tracking"
              href={{donateURL}}
              title="Donate"
              target="_blank">Donate</a>
            {{/if}}

            {{user-navigation isLoggedIn=session.isAuthenticated user=currentUser.user}}
          </div>
        </div>

      </div>
      <!-- .sitechrome-topbody-right -->
    </div>
    <!-- .sitechrome-topbody -->
  </div>
  <!-- .sitechrome-top -->

  <nav class="l-page-nav sitechrome-nav {{if sticky 'mod-sticky'}} {{if isHomepage 'nav--homepage'}} {{unless media.isLargeAndUp 'x-scrollable'}}">
    {{#if media.isLargeAndUp}}
    <div class="sitechrome-corner">
      <h1>
        <span class="for-screenreaders">WNYC Navigation</span>
        <a href="/"
          class="link--nodecor wnyc-logo-nav gtm__click-tracking"
          data-action="Side Navigation"
          data-label="logo"
          title="WNYC | New York Public Radio Home Page">
          {{wnyc-svg icon='logo-wnyc' className='icon--wnyc-logo-nav'}}
        </a>
      </h1>
    </div>
    {{/if}}
    <div class="scrollable-body">
      <div class="{{if media.isLargeAndUp 'box box--nopad'}}">

      <ul class="list list--noborder flush {{unless media.isLargeAndUp 'list--inline list--spaced text--small' 'alignright'}}">

        <svg class="radio-wave nav--homepage" viewBox="0 0 48 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        
          <rect x="6.15503" y="7.16339" width="3.31245" height="10.5739" rx="1.65623" fill="white"/>
          <rect y="11.1428" width="2.99189" height="3.18354" rx="1.49595" fill="white"/>
          <rect x="12.6305" width="3.31245" height="24.6725" rx="1.65623" fill="white"/>
          <rect x="19.1061" y="7.16339" width="3.31245" height="10.5739" rx="1.65623" fill="white"/>
          <rect x="25.5815" y="3.18372" width="3.31245" height="17.6232" rx="1.65623" fill="white"/>
          <rect x="32.0571" y="8.75507" width="3.31245" height="7.04928" rx="1.65623" fill="white"/>
          <rect x="38.5326" y="6.36707" width="3.31245" height="12.3362" rx="1.65623" fill="white"/>
          <rect x="45.0081" y="11.1428" width="2.99189" height="3.18354" rx="1.49595" fill="white"/>
        </svg>

        <a href="/radio" id="radio-a-tag" data-skip-link-handler="1" class="list-item list-item--nav inherit gtm__click-tracking radio-link">Radio</a> 
    
        {{#link-to 'stream' tagName='li' href=false class="list-item list-item--nav"}}
          {{link-to 'All Streams' 'stream' class="inherit gtm__click-tracking" data-action="Side Navigation"}}
        {{/link-to}}

        {{#link-to 'schedule' current-when="schedule.date" tagName='li' href=false class="list-item list-item--nav"}}
          {{link-to 'Schedule' 'schedule' class="inherit gtm__click-tracking" data-action="Side Navigation"}}
        {{/link-to}}

        {{#link-to 'show' current-when="show show-detail" tagName="li" href=false class="list-item list-item--nav"}}
          {{link-to 'Shows' 'show' class="inherit gtm__click-tracking" data-action="Side Navigation"}}
        {{/link-to}}

        {{#link-to 'topics' current-when='topics tag-detail' tagName='li' href=false class="list-item list-item--nav"}}
          {{link-to 'Topics' 'topics' class="inherit gtm__click-tracking" data-action="Side Navigation"}}
        {{/link-to}}

        {{#link-to 'discover.start' current-when="discover" tagName='li' href=false class="list-item list-item--nav"}}
          {{link-to 'Discover' 'discover.start' class="inherit gtm__click-tracking" data-action="Side Navigation"}}
        {{/link-to}}

        <li class="list-item list-item--nav">
          <a href="https://www.nypublicradio.org/support/" class="inherit gtm__click-tracking" data-action="Side Navigation"
            target="_blank"><span><i class="fa fa-external-link" aria-hidden="true"></i></span> Support Us</a>
        </li>

        {{#unless media.isLargeAndUp}}

          {{#link-to 'djangorendered' 'search/' tagName='li' href=false class="list-item list-item--nav"}}
            {{link-to 'Search' 'djangorendered' 'search/' class="inherit gtm__click-tracking" data-action="Side Navigation"}}
          {{/link-to}}

        {{/unless}}
      </ul>
    </div>
    <!-- .box -->
    </div>
    <!-- .x-scrollable-body -->

    {{#if media.isLargeAndUp}}
    <div class="sitechrome__nav-footer">
      {{nypr-social-icons title="Follow WNYC" items=socialIcons}}
    </div>
    {{/if}}
  </nav>

  <div class="l-full sitechrome-page-content-area">

    {{#each flashMessages.queue as |flash|}}
       {{flash-message flash=flash}}
    {{/each}}

    {{yield}}

  </div>

  {{partial 'components/site-chrome/site-footer'}}

</div>
