{{#if beta}}
  {{beta-trial
    enterBeta=(action 'enterBeta')
    onDismiss=(action 'dismissBeta')
    exitBeta=(action 'exitBeta')
    beta=beta}}
{{/if}}

{{!--
  Using double link-to in order to get an active class on the li tag
--}}

<div class="l-page" id='site-chrome'>
  <div class="sitechrome-top">
    <div class="sitechrome-topbody">
      {{#if beta.isBetaSite}}
        <div class="sitechrome-topbody-left" id="beta-nav" data-test-selector="beta-nav"></div>
      {{/if}}
      <div class="sitechrome-topbody-right">
          {{#if media.isLargeAndUp}}
          <div class="sitechrome-search">
            {{search-box placeholder="Search" enter=(action "routeSearch") searchbox-class="searchbox--chrome"}}
          </div>
          {{else}}
          <div>
            <h1>
              <span class="for-screenreaders">WQXR Navigation</span>
              <a href="/"
                class="link--nodecor"
                title="WQXR | New York Public Radio Home Page"
                data-tracking-category="WQXR Menu"
                data-tracking-action="Clicked WQXR Logo">
                {{nypr-svg icon='wqxr-logo' className='icon--wqxr-logo-nav'}}
              </a>
            </h1>
          </div>
          {{/if}}

        <div>
          <div class="sitechrome-topright">
            {{#if headerDonateChunk}}
              {{{headerDonateChunk}}}
            {{else}}
              <a class="sitechrome-btn"
              href={{donateURL}}
              title="Donate"
              data-tracking-category="WNYC Menu"
              data-tracking-action="Clicked Donate Button"
              target="_blank">Donate</a>
            {{/if}}

            {{user-navigation isLoggedIn=session.isAuthenticated user=currentUser.user}}
          </div>
        </div>

      </div>
      <!-- .sitechrome-topbody-right -->
    </div>
    <!-- .sitechrome-topbody -->
  </div>
  <!-- .sitechrome-top -->

  <nav class="l-page-nav sitechrome-nav {{if isHomepage 'nav--homepage'}} {{unless media.isLargeAndUp 'x-scrollable'}}">
    {{#if media.isLargeAndUp}}
    <div class="sitechrome-corner">
      <h1>
        <span class="for-screenreaders">WQXR Navigation</span>
        <a href="/"
          class="link--nodecor"
          title="WQXR | New York Public Radio Home Page"
          data-tracking-category="WQXR Menu"
          data-tracking-action="Clicked WQXR Logo">
          {{nypr-svg icon='wqxr-logo' className='icon--wqxr-logo-nav'}}
        </a>
      </h1>
    </div>
    {{/if}}
    <div class="scrollable-body">
      <div class="{{if media.isLargeAndUp 'box box--nopad'}}">

      <ul class="list list--noborder flush {{unless media.isLargeAndUp 'list--inline list--spaced text--small' 'alignright'}}">

        <li class="list-item list-item--nav">
          {{#if media.isLargeAndUp}}
            {{#listen-button
              audio=audio
              type='white-hollow-small'
              state=(if (eq preferredStream.slug audio.currentId) audio.playState)
              itemPK=preferredStream.slug
              itemTitle=preferredStream.name
              playContext='nav'
              class=(if media.isLargeAndUp 'stream-launcher')}}
              <span>Listen Live</span>
            {{/listen-button}}
          {{else}}
            {{!-- This 'button' is a top nav item that looks like a link. it doesn't show an icon to reflect state --}}
            {{!-- So clicking will always trigger a play action (and not a pause), state is locked to 'is-paused'  --}}
            {{#listen-button
              audio=audio
              type='vanilla'
              state='is-paused'
              itemPK=preferredStream.slug
              itemTitle=preferredStream.name
              playContext='nav'}}
              <span>Listen Live</span>
            {{/listen-button}}
          {{/if}}
        </li>

        {{#link-to 'stream' tagName='li' href=false class="list-item list-item--nav"}}
          {{link-to 'All Streams' 'stream' class="inherit" preventDefault=false}}
        {{/link-to}}

        {{#link-to 'playlist-daily' current-when="playlist-daily" tagName='li' href=false class="list-item list-item--nav"}}
          {{link-to 'Playlists' 'playlist-daily' class="inherit" preventDefault=false}}
        {{/link-to}}

        {{#link-to 'schedule' current-when="schedule.date" tagName='li' href=false class="list-item list-item--nav"}}
          {{link-to 'Schedule' 'schedule' class="inherit" preventDefault=false}}
        {{/link-to}}

        {{#link-to 'shows' current-when="shows show" tagName="li" href=false class="list-item list-item--nav"}}
          {{link-to 'Programs' 'shows' class="inherit" preventDefault=false}}
        {{/link-to}}

        {{#link-to 'serie' 'q2' tagName='li' href=false class="list-item list-item--nav"}}
            {{link-to 'Q2 Music' 'serie' 'q2' class="inherit" preventDefault=false}}
          {{/link-to}}

        {{#link-to 'events'  tagName='li' href=false class="list-item list-item--nav"}}
          {{link-to 'Events' 'events' class="inherit" preventDefault=false}}
        {{/link-to}}

        {{#link-to 'djangorendered' 'videos/' tagName='li' href=false class="list-item list-item--nav"}}
          {{link-to 'Videos' 'djangorendered' 'videos/' class="inherit" preventDefault=false}}
        {{/link-to}}

        {{#unless media.isLargeAndUp}}

          {{#link-to 'djangorendered' 'search/' tagName='li' href=false class="list-item list-item--nav"}}
            {{link-to 'Search' 'djangorendered' 'search/' class="inherit" preventDefault=false}}
          {{/link-to}}

        {{/unless}}
      </ul>
    </div>
    <!-- .box -->
    </div>
    <!-- .x-scrollable-body -->

    {{#if media.isLargeAndUp}}
    <div class="sitechrome__nav-footer">
      {{nypr-social-icons title="Follow WQXR" items=socialIcons}}
    </div>
    {{/if}}
  </nav>

  <div class="l-full sitechrome-page-content-area">

    {{#each flashMessages.queue as |flash|}}
       {{flash-message flash=flash}}
    {{/each}}

    {{yield}}

  </div>

  {{partial 'components/site-chrome/site-footer'}}

</div>
