{{#if beta}}
  {{beta-trial
    enterBeta=(action 'enterBeta')
    onDismiss=(action 'dismissBeta')
    exitBeta=(action 'exitBeta')
    beta=beta}}
{{/if}}

{{!--
  Using <a> tags here instead of ember {{link-to}} helpers in order to run google analytics tracking events on the links. Global link handler catches clicks on links with data-tracking properties and runs an event tracking function before routing the link. More in /overhaul/app/instance-initializers/link-handler.js
--}}
<div class="l-page" id='site-chrome'>
  <div class="sitechrome-top">
    <div class="sitechrome-topbody">
      {{#if beta.isBetaSite}}
        <div class="sitechrome-topbody-left" id="beta-nav" data-test-selector="beta-nav"></div>
      {{/if}}
      <div class="sitechrome-topbody-right">
          {{#if media.isLargeAndUp}}
          <div class="l-flex1of2 sitechrome-search">
            {{search-box placeholder="I heard something... Help me find it" enter=(action "routeSearch") searchbox-class="searchbox--gray searchbox--slim"}}
          </div>
          {{else}}
          <div class="flex1of2">
            <h1>
              <span class="for-screenreaders">WNYC Navigation</span>
              <a href="/" 
                class="link--nodecor"
                title="WNYC Logo"
                data-tracking-category="WNYC Menu"
                data-tracking-action="Clicked WNYC Logo">
                {{wnyc-svg icon='logo-wnyc' className='icon--wnyc-logo-nav'}}
              </a>
            </h1>
          </div>
          {{/if}}

        <div class="l-flex1of2">
          <div class="alignright">
            {{#if media.isLargeAndUp}}
              {{#if isHomepage}}
              <div class="cta-text text flush text--medium">
                <p>WNYC is public radio, supported by listeners like you.</p>
              </div>
              {{/if}}
            {{/if}}
            <a class="sitechrome-btn" 
            href="https://pledge3.wnyc.org/donate/main/onestep/?utm_source=wnyc&utm_medium=wnyc-86x27&utm_content=wnyc-header-beta&utm_campaign=pledge" 
            title="Donate"
            data-tracking-category="WNYC Menu"
            data-tracking-action="Clicked Donate Button"
            target="_blank">Donate</a>
          </div>
        </div>

      </div>
      <!-- .sitechrome-topbody-right -->
    </div>
    <!-- .sitechrome-topbody -->
  </div>
  <!-- .sitechrome-top -->

  <nav class="l-page-nav sitechrome-nav {{if isHomepage 'nav--homepage'}} {{unless media.isLargeAndUp 'x-scrollable'}}">
    {{#if media.isLargeAndUp}}
    <div class="sitechrome-corner">
      <h1>
        <span class="for-screenreaders">WNYC Navigation</span>
        <a href="/" 
          class="link--nodecor"
          title="WNYC Logo"
          data-tracking-category="WNYC Menu"
          data-tracking-action="Clicked WNYC Logo">
          {{wnyc-svg icon='logo-wnyc' className='icon--wnyc-logo-nav'}}
        </a>
      </h1>
    </div>
    {{/if}}
    <div class="scrollable-body">
      <div class="{{if media.isLargeAndUp 'box box--slim box--nopad-top'}}">

      <ul class="list list--noborder flush text--spacing text--semi {{unless media.isLargeAndUp 'list--inline list--spaced text--small' 'alignright text--medium '}}">
        
        {{#link-to 'stream' tagName='li' href=false class="list-item list-item--short" }}
          {{link-to 'Listen Live' 'stream' class="inherit" preventDefault=false}}
        {{/link-to}}
        
        {{#link-to 'schedule' current-when="schedule schedule-date" tagName='li' href="false" class="list-item list-item--short" }} 
          {{link-to 'Schedule' 'schedule' class="inherit" preventDefault=false}}
        {{/link-to}} 
        
        {{#link-to 'shows' tagName="li" href=false class="list-item list-item--short" }}
          {{link-to 'Shows' 'shows' class="inherit" preventDefault=false}}
        {{/link-to}}

        {{#link-to 'topics' current-when='topics tag' tagName='li' href="false" class="list-item list-item--short" }} 
          {{link-to 'Topics' 'topics' class="inherit" preventDefault=false}}
        {{/link-to}}

        {{#link-to 'discover.start' tagName='li' href="false" class="list-item list-item--short" }} 
          {{link-to 'Discover' 'discover.start' class="inherit" preventDefault=false}}
        {{/link-to}}
 
        {{#unless media.isLargeAndUp}}

          {{#link-to 'djangorendered' 'search' tagName='li' href="false" class="list-item list-item--short" }} 
            {{link-to 'Search' 'djangorendered' 'search' class="inherit" preventDefault=false}}
          {{/link-to}}
   
          {{#if session.isAuthenticated}}

            {{#link-to 'login' tagName='li' href="false" class="list-item list-item--short" }} 
              {{link-to 'My Account' 'login' class="inherit" preventDefault=false}}
            {{/link-to}}
      
            <li class="list-item list-item--short">
              <button class="btn--blank btn--white text--spacing h5" data-test-selector="logout" {{action 'logout'}}>Sign Out</button>
            </li>

          {{else}}

            {{#link-to 'login' tagName='li' href="false" class="list-item list-item--short" }} 
              {{link-to 'Sign In' 'login' class="inherit" preventDefault=false}}
            {{/link-to}}

          {{/if}}

        {{/unless}}
      </ul>
    </div>
    <!-- .box -->
    </div>
    <!-- .x-scrollable-body -->

    {{#if media.isLargeAndUp}}
    <div class="l-bottom">
        <div class="box box--slim">


          <ul class="list list--noborder flush alignright text--spacing text--semi text--medium">
            {{!-- <div class="h5 text--heavy text--spacing alignright"> --}}
            
            {{#if session.isAuthenticated}}

              {{#link-to 'djangorendered' 'users/me' tagName='li' href="false" class="list-item list-item--short" }} 
                {{link-to "My Account" 'djangorendered' 'users/me' class="inherit" preventDefault=false}}
              {{/link-to}}
          
              <li class="list-item list-item--short">
                <button class="btn--blank text--spacing" data-test-selector="logout" {{action 'logout'}}>Sign Out</button>
              </li>

            {{else}}

            {{#link-to 'login' tagName='li' href="false" class="list-item list-item--short" }} 
              {{link-to "Sign In" 'login' class="inherit" preventDefault=false}}
            {{/link-to}}
 
            {{/if}}
          </ul>
            {{!-- </div>
            <!-- .text --> --}}
        </div>
        <!-- .box -->
    </div>
    <!-- .l-bottom -->
    {{/if}}
  </nav>

  <div class="l-full sitechrome-page-content-area">

    {{yield}}

  </div>

  {{partial 'components/site-chrome/site-footer'}}
</div>
