{{#if beta}}
  {{beta-trial
    enterBeta=(action 'enterBeta')
    onDismiss=(action 'dismissBeta')
    exitBeta=(action 'exitBeta')
    beta=beta}}
{{/if}}

{{!--
  Using double link-to in order to get an active class on the li tag
--}}
<div class="l-page" id='site-chrome'>
  <div class="sitechrome-top">
    <div class="sitechrome-topbody">
      {{#if beta.isBetaSite}}
        <div class="sitechrome-topbody-left" id="beta-nav" data-test-selector="beta-nav"></div>
      {{/if}}
      <div class="sitechrome-topbody-right">
          {{#if media.isLargeAndUp}}
          <div class="l-flex1of2 sitechrome-search">
            {{search-box placeholder="I heard something... Help me find it" enter=(action "routeSearch") searchbox-class="searchbox--gray searchbox--slim"}}
          </div>
          {{else}}
          <div class="flex1of2">
            <h1>
              <span class="for-screenreaders">WNYC Navigation</span>
              <a href="/"
                class="link--nodecor"
                title="WNYC | New York Public Radio Home Page"
                data-tracking-category="WNYC Menu"
                data-tracking-action="Clicked WNYC Logo">
                {{wnyc-svg icon='logo-wnyc' className='icon--wnyc-logo-nav'}}
              </a>
            </h1>
          </div>
          {{/if}}

        <div class="l-flex1of2">
          <div class="alignright">
            {{#if media.isLargeAndUp}}
              {{#if isHomepage}}
              <div class="cta-text text flush text--medium">
                <p>WNYC is public radio, supported by listeners like you.</p>
              </div>
              {{/if}}
            {{/if}}
            {{#if headerDonateChunk}}
              {{{headerDonateChunk}}}
            {{else}}
              <a class="sitechrome-btn"
              href={{donateURL}}
              title="Donate"
              data-tracking-category="WNYC Menu"
              data-tracking-action="Clicked Donate Button"
              target="_blank">Donate</a>
            {{/if}}
          </div>
        </div>

      </div>
      <!-- .sitechrome-topbody-right -->
    </div>
    <!-- .sitechrome-topbody -->
  </div>
  <!-- .sitechrome-top -->

  <nav class="l-page-nav sitechrome-nav {{if isHomepage 'nav--homepage'}} {{unless media.isLargeAndUp 'x-scrollable'}}">
    {{#if media.isLargeAndUp}}
    <div class="sitechrome-corner">
      <h1>
        <span class="for-screenreaders">WNYC Navigation</span>
        <a href="/"
          class="link--nodecor"
          title="WNYC | New York Public Radio Home Page"
          data-tracking-category="WNYC Menu"
          data-tracking-action="Clicked WNYC Logo">
          {{wnyc-svg icon='logo-wnyc' className='icon--wnyc-logo-nav'}}
        </a>
      </h1>
    </div>
    {{/if}}
    <div class="scrollable-body">
      <div class="{{if media.isLargeAndUp 'box box--nopad'}}">

      <ul class="list list--noborder flush text--spacing text--semi {{unless media.isLargeAndUp 'list--inline list--spaced text--small' 'alignright text--medium '}}">

        <li class="list-item list-item--short">
          {{#if media.isLargeAndUp}}
            {{#listen-button
              type=(if isHomepage 'white-hollow-small' 'red-hollow-small')
              state=(if (eq 'wnyc-fm939' audio.currentAudio.id) audio.playState)
              itemPK='wnyc-fm939'
              itemTitle='WNYC 93.9 FM'
              playContext='nav'
              class=(if media.isLargeAndUp 'stream-launcher text--spacing text--semi')}}
              <span>Listen Live</span>
            {{/listen-button}}
          {{else}}
            {{#listen-button
              type='vanilla'
              state='is-paused'
              itemPK='wnyc-fm939'
              itemTitle='WNYC 93.9 FM'
              playContext='nav'}}
              <span>Listen Live</span>
            {{/listen-button}}
          {{/if}}
        </li>

        {{#link-to 'stream' tagName='li' href=false class="list-item list-item--short" }}
          {{link-to 'All Streams' 'stream' class="inherit" preventDefault=false}}
        {{/link-to}}

        {{#link-to 'schedule' current-when="schedule.date" tagName='li' href="false" class="list-item list-item--short" }}
          {{link-to 'Schedule' 'schedule' class="inherit" preventDefault=false}}
        {{/link-to}}

        {{#link-to 'shows' current-when="shows show" tagName="li" href=false class="list-item list-item--short" }}
          {{link-to 'Shows' 'shows' class="inherit" preventDefault=false}}
        {{/link-to}}

        {{#link-to 'topics' current-when='topics tag' tagName='li' href="false" class="list-item list-item--short" }}
          {{link-to 'Topics' 'topics' class="inherit" preventDefault=false}}
        {{/link-to}}

        {{#if (or features.discover features.otherDiscover)}}
        {{!-- Google Experiment D4W - START --}}
        {{#if (or (in-experimental-group 1) (in-experimental-group 2)) }}
          {{#link-to 'discover.start' current-when="discover" tagName='li' href="false" class="list-item list-item--short"}}
            {{#link-to 'discover.start' class="inherit" preventDefault=false}}
              <span class="new">NEW!</span>
              Discover
            {{/link-to}}
          {{/link-to}}
        {{/if}}
        {{!-- Google Experiment D4W - END --}}
        {{/if}}

        {{#unless media.isLargeAndUp}}

          {{#link-to 'djangorendered' 'search/' tagName='li' href=false class="list-item list-item--short" }}
            {{link-to 'Search' 'djangorendered' 'search/' class="inherit" preventDefault=false}}
          {{/link-to}}

          {{#if features.autoplayPrefs}}
            {{#link-to 'settings' tagName='li' href=false class="list-item list-item--short" }}
              {{link-to 'Settings' 'settings' class="inherit" preventDefault=false}}
            {{/link-to}}
          {{/if}}

          {{#if session.isAuthenticated}}
            {{#link-to 'djangorendered' 'users/me' tagName='li' href="false" class="list-item list-item--short" }}
              {{link-to "My Account" 'djangorendered' 'users/me' class="inherit" preventDefault=false}}
            {{/link-to}}

            <li class="list-item list-item--short">
              <button class="btn--blank btn--white text--spacing h5" data-test-selector="logout" {{action 'logout'}}>Sign Out</button>
            </li>

          {{else}}
            {{#link-to 'login' tagName='li' href="false" class="list-item list-item--short" }}
              {{link-to 'Sign In' 'login' class="inherit" preventDefault=false}}
            {{/link-to}}

          {{/if}}

        {{/unless}}
      </ul>
    </div>
    <!-- .box -->
    </div>
    <!-- .x-scrollable-body -->

    {{#if media.isLargeAndUp}}
    <div class="l-bottom">
        <div class="box box--padded">


          <ul class="list list--noborder flush alignright text--spacing text--semi text--medium">
            {{!-- <div class="h5 text--heavy text--spacing alignright"> --}}
            {{#if features.autoplayPrefs}}
              {{#link-to 'settings' tagName='li' href=false class="list-item list-item--short" }}
                {{link-to 'Settings' 'settings' class="inherit" preventDefault=false}}
              {{/link-to}}
            {{/if}}

            {{#if session.isAuthenticated}}
              {{#link-to 'djangorendered' 'users/me' tagName='li' href="false" class="list-item list-item--short" }}
                {{link-to "My Account" 'djangorendered' 'users/me' class="inherit" preventDefault=false}}
              {{/link-to}}

              <li class="list-item list-item--short">
                <button class="btn--blank text--spacing" data-test-selector="logout" {{action 'logout'}}>Sign Out</button>
              </li>
            {{else}}
              {{#link-to 'login' tagName='li' href="false" class="list-item list-item--short" }}
                {{link-to "Sign In" 'login' class="inherit" preventDefault=false}}
              {{/link-to}}
            {{/if}}
          </ul>
            {{!-- </div>
            <!-- .text --> --}}
        </div>
        <!-- .box -->
    </div>
    <!-- .l-bottom -->
    {{/if}}
  </nav>

  <div class="l-full sitechrome-page-content-area">

    {{yield}}

  </div>

  {{partial 'components/site-chrome/site-footer'}}
</div>
