{{#if features.siteChrome}}
  {{#site-chrome beta=beta isHomepage=isHomepage pageNavigating=pageNavigating}}
    {{#unless error}}
      {{outlet}}
    {{else}}
      {{error-page error=error}}
    {{/unless}}
  {{/site-chrome}}
{{else}}
  {{#unless error}}
    {{outlet}}
  {{else}}
    {{error-page error=error}}
  {{/unless}}
{{/if}}

{{#if features.persistentPlayer}}
  {{#liquid-unless showPlayer class="player-wrapper"}}
    <div class="l-fixed l-lowright">
    {{persistent-player.queue-button
      isFloating=true
      queueLength=audio.queue.items.length
      showModal=(action 'showModal')
      closeModal=(action 'closeModal')
      isOpenModal=modal}}
    </div>
  {{else}}
    {{persistent-player
      showModal=(action 'showModal')
      closeModal=(action 'closeModal')
      isOpenModal=modal}}
  {{/liquid-unless}}

  {{#liquid-bind modal class="modal-wrapper" as |thisModal|}}
    {{#if thisModal}}
    {{#x-modal closeModal=(action 'closeModal')}}
      {{component thisModal}}
    {{/x-modal}}
    {{/if}}
  {{/liquid-bind}}
{{/if}}
