{{#if chromeDisabled}}
  {{#unless error}}
    {{outlet}}
  {{else}}
    {{error-page error=error}}
  {{/unless}}
{{else if miniChrome}}
  {{#nypr-mini-chrome}}
    {{#unless error}}
      {{outlet}}
    {{else}}
      {{error-page error=error}}
    {{/unless}}
  {{/nypr-mini-chrome}}
{{else}}
  {{#site-chrome headerDonateChunk=headerDonateChunk beta=beta isHomepage=isHomepage currentPath=currentPath}}
    {{#unless error}}
      {{outlet}}
    {{else}}
      {{error-page error=error}}
    {{/unless}}
  {{/site-chrome}}
{{/if}}


{{#nypr-player-integration as |integration|}}
  {{#liquid-unless showPlayer class="player-wrapper"}}
  {{#unless chromeDisabled}}
    <div class="l-fixed l-lowright">
    {{persistent-player.queue-button
        isFloating  = true
        queueLength = audio.queue.items.length
        showModal   = (action 'showModal')
        closeModal  = (action 'closeModal')
        isOpenModal = modal}}
    </div>
  {{/unless}}
  {{else}}
    {{#persistent-player
        currentTitle          = integration.currentTitle

        storyTitle            = integration.storyTitle
        storyUrl              = integration.storyUrl

        songDetails           = integration.songDetails
        showTitle             = integration.showTitle
        showUrl               = integration.showUrl

        streamScheduleUrl     = integration.streamScheduleUrl
        streamName            = integration.streamName
        streamPlaylistUrl     = integration.streamPlaylistUrl
        streamsIndexUrl       = integration.streamIndexUrl

        backdropImageUrl      = integration.backdropImageUrl

        onPlay                = integration.onPlay
        onPause               = integration.onPause
        onDismissNotification = integration.onDismissNotification

        revealNotificationBar = integration.revealNotificationBar
      as |area player|}}
      {{#if area.queue}}
        {{player.queueButton
            queueLength       = audio.queue.items.length
            showModal         = (action 'showModal')
            closeModal        = (action 'closeModal')
            isOpenModal       = modal}}
      {{else if area.share}}
        {{share-button
            story             = integration.currentAudio
            type              = (if integration.isAudiostream 'stream' 'ondemand')
            region            = "Player"
            text              = "SHARE"}}
      {{else if area.notification}}
        {{! This is just the message, the dismiss handler and the flag to show this message is above}}
        {{autoplay-notification duration=audio.duration position=audio.position audioType=currentAudio.audioType}}
      {{/if}}
    {{/persistent-player}}
  {{/liquid-unless}}
{{/nypr-player-integration}}
{{#liquid-if modal class="modal-wrapper sliding-modal"}}
  {{#x-modal closeModal=(action 'closeModal')}}
    {{component modal}}
  {{/x-modal}}
{{/liquid-if}}
