{{#if chromeDisabled}}
  {{#unless error}}
    {{outlet}}
  {{else}}
    {{error-page erfror=error}}
  {{/unless}}
{{else if miniChrome}}
  {{#nypr-mini-chrome}}
    {{#unless error}}
      {{outlet}}
    {{else}}
      {{error-page error=error}}
    {{/unless}}
  {{/nypr-mini-chrome}}
{{else}}
  {{#site-chrome headerDonateChunk=headerDonateChunk beta=beta isHomepage=isHomepage currentPath=currentPath}}
    {{#unless error}}
      {{outlet}}
    {{else}}
      {{error-page error=error}}
    {{/unless}}
  {{/site-chrome}}
{{/if}}


{{#nypr-player-integration as |data|}}
  {{#liquid-unless showPlayer class="player-wrapper"}}
  {{#unless chromeDisabled}}
    <div class="l-fixed l-lowright">
    {{persistent-player.queue-button
      isFloating=true
      queueLength=audio.queue.items.length
      showModal=(action 'showModal')
      closeModal=(action 'closeModal')
      isOpenModal=modal}}
    </div>
  {{/unless}}
  {{else}}
    {{#persistent-player as |player|}}
      {{player.queueButton
        queueLength=audio.queue.items.length
        showModal=(action 'showModal')
        closeModal=(action 'closeModal')
        isOpenModal=modal}}
    {{/persistent-player}}
  {{/liquid-unless}}
{{/nypr-player-integration}}
{{#liquid-if modal class="modal-wrapper sliding-modal"}}
  {{#x-modal closeModal=(action 'closeModal')}}
    {{component modal}}
  {{/x-modal}}
{{/liquid-if}}
