{{outlet}}
{{#if features.persistentPlayer}}
  {{persistent-player}}
{{/if}}
<!--
<div class="l-page">
  <div class="l-page-nav">
    <ul>
      <li>{{link-to 'Search' 'djangorendered' 'search'}}</li>
      <li>{{link-to 'Home' 'djangorendered' '/'}}</li>
      <li>{{! link-to 'Listen Live' 'livestream'}}</li>
      <li>{{! link-to 'My Station' 'discover'}}</li>
      <li>{{link-to 'News' 'djangorendered' 'articles/wnyc-news'}}</li>
      <li>{{link-to 'Shows' 'djangorendered' 'shows'}}</li>
    </ul>
  </div>

  <div class="l-full">
  </div>

</div>
-->
