<HeadLayout>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap" rel="stylesheet">
</HeadLayout>
<div class="centennial-home">
  {{centennial/centennial-header}}
  {{centennial/centennial-message}}
  {{centennial/centennial-intro}}
  {{centennial/centennial-events events=model.events}}
  {{centennial/centennial-new-york-stories}}
  {{centennial/centennial-cta-narrow}}
  {{centennial/centennial-timeline}}
  {{centennial/centennial-archives items=model.archiveItems}}
  {{centennial/centennial-explore
    category1Title=model.featuredCategory1.title
    category1Items=model.featuredCategory1.bucketItems
    category2Title=model.featuredCategory2.title
    category2Items=model.featuredCategory2.bucketItems
    category3Title=model.featuredCategory3.title
    category3Items=model.featuredCategory3.bucketItems
    }}
  {{centennial/centennial-double-cta}}
  {{centennial/centennial-major-sponsor}}
</div>