<div class="centennial-home l-constrained l-constrained--mq-med">
  {{centennial/centennial-header}}
  {{centennial/centennial-message}}
  {{centennial/centennial-timeline}}
  {{centennial/centennial-archives items=model.archiveStories.bucketItems}}
  {{centennial/centennial-events}}
  {{centennial/centennial-explore
    row1=model.exploreStories1.bucketItems
    row2=model.exploreStories2.bucketItems
  }}
  {{centennial/centennial-signup}}
  {{centennial/centennial-ctas}}
  {{centennial/centennial-sponsors}}
</div>