{{#with model.story as |s|}}
  {{#nypr-ui/hero gradient=true as |hero|}}
    {{#with s.imageMain as |img|}}
      {{hero.image
        src=(image-template img.template 1280 0 img.crop)
        source=img.source
        caption=img.caption
        credit=img.creditsName
      }}
    {{/with}}
    {{#hero.top as |top|}}
      {{#top.left}}
        {{#link-to 'index' class="hero__logo-link"}}
          {{nypr-svg icon="left-arrow" className="hero-back"}}
          {{nypr-svg icon="wnyc-logo" className="hero-logo"}}
        {{/link-to}}
      {{/top.left}}
      
      {{#top.right}}
        {{#nypr-ui/buttons/red tagName="a" href="http://www.wnyc.org" tall=true class="hero__donate"}}
          Donate
        {{/nypr-ui/buttons/red}}
      {{/top.right}}
    {{/hero.top}}
    
    {{#hero.headline}}
      {{s.title}}
    {{/hero.headline}}
    
    {{#hero.blurb}}
      <p>
        {{{s.tease}}}
      </p>
      
    {{/hero.blurb}}
    
    {{#hero.footer as |footer|}}
      {{#if (and s.audioMayStream s.audio)}}
        {{#listen-button
          type='white-hollow-block'
          itemPK=s.slug
          itemTitle=s.title
          itemShow=(or s.showTitle s.headers.brand.title)}}
          Listen to the story
        {{/listen-button}}
      {{/if}}
      
      {{#footer.lockup}}
        <span class="hero-lockup__label">Share</span> {{nypr-story/share-buttons story=s via='WNYC'}}
      {{/footer.lockup}}
    {{/hero.footer}}
  {{/nypr-ui/hero}}
  
  {{#with s.appearances.authors as |authors|}}
  <footer class="full-bleed__byline">
    <p>
      By
      {{#each authors as |author i|}}
        {{list-separator authors i}}
        {{link-to author.name 'djangorendered' (concat 'people/' author.slug) class="full-bleed__author"}}
      {{/each}}
    </p>
    <p class="full-bleed__date">
      {{moment-format s.newsdate 'MMMM D, YYYY'}}
    </p>
  </footer>
  {{/with}}
  
  {{django-page page=s.bodyDjango class="full-bleed__body"}}
  
  {{#if s.producingOrganizations}}
  <div class="producing-org-banner">
    <div class="producing-org-banner__body">
      Produced by {{producing-orgs s.producingOrganizations}}
    </div>
  </div>
  {{/if}}
  
{{/with}}

{{site-chrome/site-footer}}
