{{#with model.story as |s|}}
  {{#nypr-ui/hero gradient=true sticky=true class="full-bleed__hero" as |hero|}}
    {{#hero.top as |top|}}
      {{#top.left}}
        {{#link-to 'index' class="full-bleed__logo-link gtm__click-tracking" data-action='Full Bleed WNYC logo' data-label=s.title}}
          {{nypr-svg icon="left-arrow" className="full-bleed__back"}}
          {{nypr-svg icon="wnyc-logo" className="full-bleed__logo"}}
        {{/link-to}}
      {{/top.left}}

      {{#top.right}}
        {{#nypr-ui/buttons/red
          tagName="a"
          href="https://pledge3.wnyc.org/donate/main/onestep/?ref=button-donate-header"
          tall=true
          class="full-bleed__donate gtm__click-tracking"
          data-action="Donate"
          data-label="full-bleed"}}
          Donate
        {{/nypr-ui/buttons/red}}
      {{/top.right}}
    {{/hero.top}}

    {{#with s.imageMain as |img|}}
      {{hero.image
        src=(image-template img.template 1440 0 img.crop)
        srcset=(image-srcset img
          (array 320 0)
          (array 480 0)
          (array 800 0))
        sizes=(image-sizes
          (array 'max-width: 320px' 320)
          (array 'max-width: 480px' 480)
          (array 'max-width: 800px' 800))
        source=img.source
        caption=img.caption
        credit=img.creditsName
      }}
    {{/with}}

    {{#hero.headline class="full-bleed__headline" tagName="h2"}}
      {{s.title}}
    {{/hero.headline}}

    {{#hero.blurb class="full-bleed__blurb"}}
      <p>
        {{{s.tease}}}
      </p>
    {{/hero.blurb}}

    {{#hero.footer class="full-bleed__footer" as |footer|}}
      {{#if (and s.audioMayStream s.audio)}}
        {{#listen-button
          type='white-hollow-block'
          itemPK=s.slug
          itemTitle=s.title
          itemShow=(or s.showTitle s.headers.brand.title)}}Listen {{s.audioDurationReadable}}&nbsp;{{/listen-button}}

          {{#unless deviceIsIos}}
            <a href={{s.audio}} download={{s.title}} class="story__download-link" title='Download "{{s.title}}"'>{{nypr-svg icon="download"}} Download</a>
            <div class="story-embed__wrapper">
            <button class="story__embed-button" {{action (mut showEmbed) true}}>{{nypr-svg icon="embed"}} Embed</button>
            {{#if showEmbed}}
              {{#click-outside class="story__embed-popup" action=(action (mut showEmbed) false)}}
                <h2 class="story__embed-header">Want to embed this player?</h2>
                <p class="story__embed-instructions">Use the code below.</p>
                <div class="story__embed-code">{{s.embedCode}}</div>
              {{/click-outside}}
            {{/if}}
            </div>
          {{/unless}}
      {{/if}}

      {{#footer.lockup class="full-bleed__share"}}
        <span class="full-bleed__share-label">Share</span> {{nypr-story/share-buttons story=s via='WNYC' classNames='story-share-buttons'}}
      {{/footer.lockup}}
    {{/hero.footer}}
  {{/nypr-ui/hero}}

  <footer class="full-bleed__byline">
    {{#with s.appearances.authors as |authors|}}
    <p>
      By
      {{#each authors as |author i|}}
        {{list-separator authors i}}
        {{link-to author.name 'djangorendered' (concat 'people/' author.slug) class="full-bleed__author"}}
      {{/each}}
    </p>
    {{/with}}
    <p class="full-bleed__date">
      {{moment-format s.newsdate 'MMMM D, YYYY'}}
    </p>
  </footer>

  {{django-page page=s.bodyDjango class="full-bleed__body"}}

  {{#if s.producingOrganizations}}
  <div class="producing-org-banner">
    <div class="producing-org-banner__body">
      Produced by {{producing-orgs s.producingOrganizations}}
    </div>
  </div>
  {{/if}}

{{/with}}

{{site-chrome/site-footer}}
