<main>
  {{#if model.wartopChunk}}
    <section class="l-container l-container--touch-full wartop-chunk">
      {{django-page page=model.wartopChunk.pagecontent}}
    </section>
  {{/if}}

  <section class="l-container l-container--touch-full">
    {{#stream-banner audio=audio streams=streams as |currentStream|}}
      {{#if (and currentStream.currentComposer.name currentStream.currentPiece)}}
        <h2 class="h2">{{currentStream.currentComposer.name}}</h2>
        <h3 class="h3">{{currentStream.currentPiece}}</h3>
      {{else}}
        <h2 class="h2">{{currentStream.currentShow.showTitle}}</h2>
          {{#if currentStream.currentShow.episodeTitle}}
            <h3 class="h3">{{currentStream.currentShow.episodeTitle}}</h3>
          {{/if}}
      {{/if}}
    {{/stream-banner}}
  </section>

  {{#if media.isSmallOnly}}
    <section class="home__leaderboard">
      {{dfp-ad
        slot="/6483581/leaderboard/wqxr_leaderboard"
        sizes=(array (array 300 50))
        target="leaderboard"
        slotClassNames="home__leaderboard__slot"}}
    </section>
  {{/if}}

  <section class="l-container l-container--touch-full">
    {{#nypr-brick-layout as |layout|}}

      {{#layout.blowout as |blowout|}}

        {{blowout.main audio=audio item=model.wqxrHome.featuredItems.[0]}}

        {{#if model.membershipChunk}}
          {{#blowout.column as |column|}}
            <div class="chunk__item">
              {{django-page page=model.membershipChunk.pagecontent}}
            </div>
            {{column.brick audio=audio item=model.wqxrHome.featuredItems.[1]}}
          {{/blowout.column}}
        {{else}}
          {{#blowout.column as |column|}}
            {{column.brick audio=audio item=model.wqxrHome.featuredItems.[1]}}
            {{column.brick audio=audio item=model.wqxrHome.featuredItems.[2]}}
          {{/blowout.column}}
        {{/if}}

      {{/layout.blowout}}

      {{#layout.cards as |row|}}
        {{row.brick audio=audio item=model.wqxrHome.featuredItems.[3]}}
        {{row.brick audio=audio item=model.wqxrHome.featuredItems.[4]}}
        {{#row.brick class='brick__item--sponsored'}}
          {{dfp-ad
            slot="/6483581/rectangle/wqxr_rectangle"
            sizes=(array (array 300 250))
            target="wqxr_bigbox_ad"}}
        {{/row.brick}}
      {{/layout.cards}}

      {{layout.blowout audio=audio flip=true items=(slice model.wqxrHome.featuredItems 5 8)}}

    {{/nypr-brick-layout}}
  </section>

  {{ newsletter-signup }}

  <section class="l-container l-container--touch-full">
    {{nypr-brick-grid audio=audio items=model.wqxrHome.otherItems}}
  </section>

</main>
