{{dfp-ad
  slotClassNames="is-collapsed l-constrained aligncenter leaderboard"
  slot="/6483581/leaderboard/wnyc_leaderboard"
  target="leaderboard"
  mapping=(array (array 0 (array 300 50)) (array 758 (array 728 90)) (array 1203 (array 970 415) (array 970 250)))
  sizes=(array (array 970 415) (array 970 250) (array 728 90) (array 300 50))}}

{{#django-page page=model.page class='l-constrained'}}

  {{#if media.isSmallOnly}}
    {{#ember-wormhole to='stream-banner'}}
      {{stream-banner stream=model.featuredStream}}
    {{/ember-wormhole}}
  {{/if}}

  {{#ember-wormhole to='gothamist-row'}}
    {{#story-row as |row|}}
      {{#row.label}}Latest From <a href="https://www.gothamist.com?utm_medium=partnersite&utm_source=wnyc&utm_campaign=homepagepromo">Gothamist</a>{{/row.label}}

      {{#row.items items=model.gothamist as |story|}}
        {{#story-card
          href=(append-query story.permalink 'utm_medium=partnersite&utm_source=wnyc&utm_campaign=homepagepromo')
          class="gtm__click-tracking"
          data-category="Homepage Bucket"
          data-action="gothamist"
          data-label=story.title as |card|}}
          {{card.image width=300 src=(make-https story.thumbnail_300)}}
          {{#card.body}}
            {{story.title}}
            {{nypr-svg icon="popout-icon" className="popout-icon"}}
          {{/card.body}}
        {{/story-card}}
      {{/row.items}}
    {{/story-row}}
  {{/ember-wormhole}}

{{/django-page}}
