<main class="l-container l-container--touch-full">
    {{#if model.wartopChunk}}
      <section class="wartop-chunk">
        {{django-page page=model.wartopChunk.pagecontent}}
      </section>
    {{/if}}

    {{#stream-banner audio=audio streams=streams as |currentStream|}}
      {{#if (and currentStream.currentComposer.name currentStream.currentPiece)}}
        <h2 class="h2">{{currentStream.currentComposer.name}}</h2>
        <h3 class="h3">{{currentStream.currentPiece}}</h3>
      {{else if currentStream.isWNYC}}
        <h2 class="h2">{{currentStream.currentShow.showTitle}}</h2>
          {{#if currentStream.currentShow.episodeTitle}}
            <h3 class="h3">{{currentStream.currentShow.episodeTitle}}</h3>
          {{/if}}
      {{/if}}
    {{/stream-banner}}

  <section class="home__stories">
    {{#nypr-brick-layout as |layout|}}

      {{#layout.blowout as |blowout|}}

        {{blowout.main item=model.wqxrHome.featuredItems.[0]}}

        {{#if model.membershipChunk}}
          {{#blowout.column}}
            <div class="chunk__item">
              {{django-page page=model.membershipChunk.pagecontent}}
            </div>
          {{/blowout.column}}
        {{else}}
          {{#blowout.column as |column|}}
            {{column.brick item=model.wqxrHome.featuredItems.[1]}}
            {{column.brick item=model.wqxrHome.featuredItems.[2]}}
          {{/blowout.column}}
        {{/if}}

      {{/layout.blowout}}

      {{layout.cards audio=audio items=(slice model.wqxrHome.featuredItems 3 5)}}

      {{layout.blowout audio=audio items=(slice model.wqxrHome.featuredItems 5)}}

    {{/nypr-brick-layout}}
    {{nypr-brick-grid audio=audio items=model.wqxrHome.otherItems}}
  </section>

</main>
