<main>
  {{#if model.wartopChunk}}
    <section class="l-container l-container--touch-full wartop-chunk">
      {{django-page page=model.wartopChunk.pagecontent}}
    </section>
  {{/if}}

  {{dfp-ad
    slotClassNames="l-constrained aligncenter leaderboard"
    slot="6483581/leaderboard/wqxr_leaderboard"
    target="leaderboard_ad_home"
    mapping=(array (array 0 (array 300 50)) (array 758 (array 728 90)) (array 1203 (array 970 90)))
    sizes=(array (array 970 90) (array 728 90) (array 300 50))
  }}

  <section class="l-container l-container--touch-full">
    {{#stream-banner background=background streams=streams as |currentStream banner|}}
      {{#banner.header as |header|}}
        {{component header.stationTitle}}
        {{component header.dropdown}}
      {{/banner.header}}

      {{component banner.details}}

      {{component banner.controls}}

      {{#if (and currentStream.currentComposer.name currentStream.currentPiece)}}
        {{#link-to 'playlist-daily' (query-params scheduleStation=currentStream.slug) class='stream-banner-recently link--blue'}}
          Recently played
          {{nypr-svg className="icon rotate-minus90" icon="caret-down"}}
        {{/link-to}}
      {{/if}}
    {{/stream-banner}}
  </section>

  <section class="l-container l-container--touch-full">
    {{#nypr-brick-layout as |layout|}}

      {{#layout.blowout as |blowout|}}

        {{blowout.main item=model.wqxrHome.featuredItems.[0]}}

        {{#if model.membershipChunk}}
          {{#blowout.column as |column|}}
            <div class="chunk__item">
              {{django-page page=model.membershipChunk.pagecontent}}
            </div>
            {{column.brick item=model.wqxrHome.featuredItems.[1]}}
          {{/blowout.column}}
        {{else}}
          {{#blowout.column as |column|}}
            {{column.brick item=model.wqxrHome.featuredItems.[1]}}
            {{column.brick item=model.wqxrHome.featuredItems.[2]}}
          {{/blowout.column}}
        {{/if}}

      {{/layout.blowout}}

      {{#layout.cards as |row|}}
        {{row.brick item=model.wqxrHome.featuredItems.[3]}}
        {{row.brick item=model.wqxrHome.featuredItems.[4]}}
        {{row.brick item=model.wqxrHome.featuredItems.[5]}}
      {{/layout.cards}}

      {{layout.blowout flip=true items=(slice model.wqxrHome.featuredItems 6 9)}}

    {{/nypr-brick-layout}}
  </section>

  {{ newsletter-signup }}

  <section class="l-container l-container--touch-full">
    {{nypr-brick-grid items=model.wqxrHome.otherItems}}
  </section>

</main>
