<div class="l-constrained account-info">
  <h2 class="account-header">
    <div class="account-avatar">
      {{#if model.picture}}
        <img src={{model.picture}}>
      {{else}}
        {{nypr-svg icon="user"}}
      {{/if}}
    </div>
    Hi {{model.givenName}}!
  </h2>

  {{nypr-accounts/basic-card
    user=model
    emailUpdated=(action showFlash 'email')
    authenticate=(action authenticate)}}

  {{nypr-accounts/password-card
    helplinkUrl='/forgot'
    helplinkText='Forgot password?'
    changePassword=(action changePassword)}}

  <div class="aligncenter text--small">
    <p>
      Need help? Contact us using our <a href="https://nypublicradio.zendesk.com/hc/en-us/categories/202751107/" target="_blank">contact form</a> or call us at <a href="tel:646-829-4000">646-829-4000</a>.<br />
      <button
        data-test-selector="disable-account"
        class="btn--link btn--smalltext"
        {{action (action (mut disableModal) true)}}>Disable my online account</button>
    </p>
  </div>
</div>

{{#if disableModal}}
  {{#nypr-account-modal title="Disable online account" closeAction=(action (mut disableModal) false) as |m|}}
    {{#m.body}}
    <p>
      This will disable your online account, but you will still be a WQXR member.
    </p>
    {{/m.body}}

    {{#m.footer}}
      <button
        class="nypr-account-cancel"
        data-test-selector="cancel-disable"
        {{action (action (mut disableModal) false)}}>Cancel</button>
      <button
        class="nypr-account-confirm"
        data-test-selector="do-disable"
        {{action 'disableAccount'}}>Disable my online account</button>
    {{/m.footer}}
  {{/nypr-account-modal}}
{{else if confirmDisableModal}}
  {{#nypr-account-modal as |m|}}
    {{#m.body}}
    <p>
      Your online WQXR account has been deactivated.
    </p>
    {{/m.body}}

    {{#m.footer}}
      <button
        class="nypr-account-confirm"
        data-test-selector="confirm-disable"
        {{action 'confirmDisable'}}>Got it!</button>
    {{/m.footer}}
  {{/nypr-account-modal}}
{{/if}}
