<div class="l-container l-container--touch-full">
  <div class="newsletter-signup__inner">
    <img src="assets/img/wqxr__newsletter-signup.png"
         srcset="assets/img/wqxr__newsletter-signup@2x.png 2x,
                 assets/img/wqxr__newsletter-signup@3x.png 3x"
         title="Visual of the WQXR Newsletter"
         width="348"
         height="326" />
    <div class="newsletter-signup__copy">
      <h1 class="h2 nudge-mini">Sign up for the WQXR newsletter</h1>
      <div class="nudge-down">
        It's smart. It's fresh. Get inspired and ignite
        your love of classical music today.
      </div>
      <div>
        {{#if formLoading}}
          <div class="loading-spinner"></div>
        {{else if successMsg}}
          <p class="text--lightgray text--italic">{{successMsg}}</p>
        {{else}}
          <form id="mc-embedded-subscribe-form"
                class="validate" novalidate="" {{action "submitForm" on="submit"}} name="mc-embedded-subscribe-form">
            <div id="mc_embed_signup_scroll" class="mailchimp-form">
              {{input id="mce-EMAIL" value=email class=(if errorMsg 'error' '') type="email" name="EMAIL" placeholder="Enter your email address" key-press="releaseErrorState" }}
              {{#if errorMsg}}<p class="error-msg text--small text--red">{{errorMsg}}</p>{{/if}}
              <input id="mc-embedded-subscribe" class="btn btn--blue btn--large" name="subscribe"
                     type="submit" value="Sign up">
            </div>
          </form>
        {{/if}}

      </div>
    </div>
  </div>
 </div>
